{% doc %}
  Bloco do footer: contato da marca com ícones (e-mail, WhatsApp, atendimento, endereço).
  E-mail, telefone e link do WhatsApp vêm das configurações globais do tema.
{% enddoc %}
{%- liquid
  assign loc_mask_id = 'brand-contact-loc-' | append: block.id
  assign top_link_label = block.settings.top_link_label
  if top_link_label == blank and block.settings.top_link_page != blank
    assign top_link_label = block.settings.top_link_page.title
  endif
-%}
<div class="{% if block.settings.title != blank %}m-accordion--item-content{% endif %} m-footer--block-content">
  {% if block.settings.top_link_page != blank %}
    <ul class="list-unstyled m-link-lists m-footer-brand-contact__top-link-list">
      <li class="m-link-lists--item m:block">
        <a href="{{ block.settings.top_link_page.url }}" class="m-link">{{ top_link_label }}</a>
      </li>
    </ul>
  {% endif %}
  <div class="m-footer-brand-contact">
    {% if block.settings.show_email and settings.contact_email != blank %}
      <div class="m-footer-brand-contact__row">
        <span class="m-footer-brand-contact__icon" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none" focusable="false">
            <path d="M2.5 12.5C2.15625 12.5 1.86208 12.3777 1.6175 12.1331C1.37292 11.8885 1.25042 11.5942 1.25 11.25V3.75C1.25 3.40625 1.3725 3.11208 1.6175 2.8675C1.8625 2.62292 2.15667 2.50042 2.5 2.5H12.5C12.8438 2.5 13.1381 2.6225 13.3831 2.8675C13.6281 3.1125 13.7504 3.40667 13.75 3.75V11.25C13.75 11.5938 13.6277 11.8881 13.3831 12.1331C13.1385 12.3781 12.8442 12.5004 12.5 12.5H2.5ZM7.5 8.125L12.5 5V3.75L7.5 6.875L2.5 3.75V5L7.5 8.125Z" fill="#9E9E9E"/>
          </svg>
        </span>
        <a class="m-footer-brand-contact__link m-link" href="mailto:{{ settings.contact_email }}">{{ settings.contact_email }}</a>
      </div>
    {% endif %}

    {% if block.settings.show_whatsapp and settings.social_whatsapp_link != blank %}
      <div class="m-footer-brand-contact__row">
        <span class="m-footer-brand-contact__icon" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none" focusable="false">
            <path d="M11.9062 3.06878C11.3332 2.4901 10.6506 2.03126 9.89844 1.71901C9.14625 1.40676 8.33943 1.24734 7.525 1.25003C4.1125 1.25003 1.33125 4.03128 1.33125 7.44378C1.33125 8.53753 1.61875 9.60003 2.15625 10.5375L1.28125 13.75L4.5625 12.8875C5.46875 13.3813 6.4875 13.6438 7.525 13.6438C10.9375 13.6438 13.7188 10.8625 13.7188 7.45003C13.7188 5.79378 13.075 4.23753 11.9062 3.06878ZM7.525 12.5938C6.6 12.5938 5.69375 12.3438 4.9 11.875L4.7125 11.7625L2.7625 12.275L3.28125 10.375L3.15625 10.1813C2.64222 9.36069 2.36933 8.41208 2.36875 7.44378C2.36875 4.60628 4.68125 2.29378 7.51875 2.29378C8.89375 2.29378 10.1875 2.83128 11.1562 3.80628C11.636 4.2837 12.0162 4.85162 12.2748 5.47711C12.5333 6.1026 12.6651 6.77321 12.6625 7.45003C12.675 10.2875 10.3625 12.5938 7.525 12.5938ZM10.35 8.74378C10.1937 8.66878 9.43125 8.29378 9.29375 8.23753C9.15 8.18753 9.05 8.16253 8.94375 8.31253C8.8375 8.46878 8.54375 8.81878 8.45625 8.91878C8.36875 9.02503 8.275 9.03753 8.11875 8.95628C7.9625 8.88128 7.4625 8.71253 6.875 8.18753C6.4125 7.77503 6.10625 7.26878 6.0125 7.11253C5.925 6.95628 6 6.87503 6.08125 6.79378C6.15 6.72503 6.2375 6.61253 6.3125 6.52503C6.3875 6.43753 6.41875 6.36878 6.46875 6.26878C6.51875 6.16253 6.49375 6.07503 6.45625 6.00003C6.41875 5.92503 6.10625 5.16253 5.98125 4.85003C5.85625 4.55003 5.725 4.58753 5.63125 4.58128H5.33125C5.225 4.58128 5.0625 4.61878 4.91875 4.77503C4.78125 4.93128 4.38125 5.30628 4.38125 6.06878C4.38125 6.83128 4.9375 7.56878 5.0125 7.66878C5.0875 7.77503 6.10625 9.33753 7.65625 10.0063C8.025 10.1688 8.3125 10.2625 8.5375 10.3313C8.90625 10.45 9.24375 10.4313 9.5125 10.3938C9.8125 10.35 10.4312 10.0188 10.5562 9.65628C10.6875 9.29378 10.6875 8.98753 10.6438 8.91878C10.6 8.85003 10.5062 8.81878 10.35 8.74378Z" fill="#9E9E9E"/>
          </svg>
        </span>
        <a
          class="m-footer-brand-contact__link m-link"
          href="{{ settings.social_whatsapp_link }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          {{- settings.contact_phone_number -}}
        </a>
      </div>
    {% endif %}

    {% if block.settings.atendimento_details != blank %}
      <div class="m-footer-brand-contact__row">
        <span class="m-footer-brand-contact__icon" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none" focusable="false">
            <path d="M4.1375 6.74375C5.0375 8.5125 6.4875 9.95625 8.25625 10.8625L9.63125 9.4875C9.8 9.31875 10.05 9.2625 10.2688 9.3375C10.9688 9.56875 11.725 9.69375 12.5 9.69375C12.8438 9.69375 13.125 9.975 13.125 10.3188V12.5C13.125 12.8438 12.8438 13.125 12.5 13.125C6.63125 13.125 1.875 8.36875 1.875 2.5C1.875 2.15625 2.15625 1.875 2.5 1.875H4.6875C5.03125 1.875 5.3125 2.15625 5.3125 2.5C5.3125 3.28125 5.4375 4.03125 5.66875 4.73125C5.7375 4.95 5.6875 5.19375 5.5125 5.36875L4.1375 6.74375Z" fill="#9E9E9E"/>
          </svg>
        </span>
        <div class="m-footer-brand-contact__text">
          {% if block.settings.atendimento_heading != blank %}
            <span class="m-footer-brand-contact__label">{{ block.settings.atendimento_heading }}</span>
            <br>
          {% endif %}
          {{ block.settings.atendimento_details | newline_to_br }}
        </div>
      </div>
    {% endif %}

    {% if block.settings.endereco_details != blank %}
      <div class="m-footer-brand-contact__row">
        <span class="m-footer-brand-contact__icon" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none" focusable="false">
            <mask id="{{ loc_mask_id }}" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="1" y="0" width="13" height="15">
              <path d="M7.5 13.75C7.5 13.75 12.1875 10 12.1875 5.9375C12.1875 3.34875 10.0887 1.25 7.5 1.25C4.91125 1.25 2.8125 3.34875 2.8125 5.9375C2.8125 10 7.5 13.75 7.5 13.75Z" fill="white" stroke="white" stroke-width="2" stroke-linejoin="round"/>
              <path d="M7.5 7.8125C7.74623 7.8125 7.99005 7.764 8.21753 7.66977C8.44502 7.57555 8.65172 7.43744 8.82583 7.26333C8.99994 7.08922 9.13805 6.88252 9.23227 6.65503C9.3265 6.42755 9.375 6.18373 9.375 5.9375C9.375 5.69127 9.3265 5.44745 9.23227 5.21997C9.13805 4.99248 8.99994 4.78578 8.82583 4.61167C8.65172 4.43756 8.44502 4.29945 8.21753 4.20523C7.99005 4.111 7.74623 4.0625 7.5 4.0625C7.00272 4.0625 6.52581 4.26004 6.17417 4.61167C5.82254 4.96331 5.625 5.44022 5.625 5.9375C5.625 6.43478 5.82254 6.91169 6.17417 7.26333C6.52581 7.61496 7.00272 7.8125 7.5 7.8125Z" fill="black" stroke="black" stroke-width="2" stroke-linejoin="round"/>
            </mask>
            <g mask="url(#{{ loc_mask_id }})">
              <path d="M0 0H15V15H0V0Z" fill="#9E9E9E"/>
            </g>
          </svg>
        </span>
        <div class="m-footer-brand-contact__text">
          {% if block.settings.endereco_heading != blank %}
            <span class="m-footer-brand-contact__label">{{ block.settings.endereco_heading }}</span>
            <br>
          {% endif %}
          {{ block.settings.endereco_details | newline_to_br }}
        </div>
      </div>
    {% endif %}
  </div>
</div>
