{% liquid
  assign show_follow_on_shop = false
  if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop
    assign show_follow_on_shop = true
  endif
  assign current_year = 'now' | date: '%Y'
  if section.settings.copyright != blank
    assign copyright_text = section.settings.copyright | replace: '{year}', current_year
  endif
%}
{%- liquid
  assign has_bg = false
  if section.settings.footer_bg_image != blank or section.settings.footer_bg_image_mobile != blank
    assign has_bg = true
  endif
  assign bg_mobile = section.settings.footer_bg_image_mobile | default: section.settings.footer_bg_image
-%}
<div class="m-footer--bottom m-footer--bottom-{{ section.settings.design }} m-gradient m-color-{{ section.settings.footer_bottom_color_scheme }}{% if has_bg %} m-footer--bottom-has-bg{% endif %}"
  {% if has_bg %}
    style="background-image: url('{{ bg_mobile | image_url: width: 1200 }}'); background-repeat: no-repeat; background-position: center bottom; background-size: {{ section.settings.footer_bg_size_mobile }}% auto;"
  {% endif %}
>
  <div class="{{ container }}">
    <div class="m-footer--bottom-inner m:flex m:flex-col xl:m:flex-row m:justify-between m:items-end">
      {% case section.settings.design %}
        {% when 'footer-1' %}
          {% if section.settings.copyright != blank %}
            <div class="m-footer--bottom-left m:flex-none m:text-left m:w-full xl:m:text-left">
              <span class="m-footer__copyright">{{ copyright_text }}</span>
              {%- if show_follow_on_shop -%}
                <div class="m-follow-on-shop">
                  {% comment %} TODO: enable theme-check once `login_button` is accepted as valid filter {% endcomment %}
                  {% # theme-check-disable %}
                  {{ shop | login_button: action: 'follow' }}
                  {% # theme-check-enable %}
                </div>
              {%- endif -%}
            </div>
          {% endif %}
          <div class="m-footer--bottom-right m:w-full m:flex-col lg:m:flex-row m:flex m:flex-wrap xl:m:justify-end">
            {% if section.settings.show_currency_selector or section.settings.show_language_selector %}
              <div class="m-footer--currency-language m:display-flex">
                {% liquid
                  if section.settings.show_country_selector
                    render 'country-selector', pos: 'top'
                  endif
                  if section.settings.show_currency_selector
                    render 'currency-switcher', pos: 'top'
                  endif
                  if section.settings.show_language_selector
                    render 'language-switcher', pos: 'top'
                  endif
                %}
              </div>
            {% endif %}
            {% if section.settings.show_social_links %}
              {% render 'social-media-links' %}
            {% endif %}
            {% if section.settings.show_payment_icons %}
              {% render 'payment-icons', section: section %}
            {% endif %}
            {% if section.settings.footer_bottom_menu != blank %}
              {% assign menu = section.settings.footer_bottom_menu %}
              <ul class="m-footer--bottom-menu m-link-lists m-link-lists--inline xl:m:justify-end{% if section.settings.show_menu_item_divider %} show-menu-item-divider{% endif %}">
                {% for link in linklists[menu].links %}
                  <li class="m-footer--bottom-menu-item m-link-lists--item">
                    <a class="m-link" href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% when 'footer-2' %}
          {% if section.settings.show_payment_icons %}
            <div class="m-footer--bottom-left m:w-full m:flex-1 xl:m:w-auto{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">
              {% render 'payment-icons', section: section %}
            </div>
          {% endif %}

          {% if section.settings.copyright != blank %}
            <div class="m-footer--bottom-center m:flex-1 m:text-left xl:m:text-center xl:m:w-auto m:w-full{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">
              <span class="m-footer__copyright">{{ copyright_text }}</span>
              {%- if show_follow_on_shop -%}
                <div class="m-follow-on-shop">
                  {% comment %} TODO: enable theme-check once `login_button` is accepted as valid filter {% endcomment %}
                  {% # theme-check-disable %}
                  {{ shop | login_button: action: 'follow' }}
                  {% # theme-check-enable %}
                </div>
              {%- endif -%}
            </div>
          {% endif %}
          {% if section.settings.show_social_links
            or section.settings.show_currency_selector
            or section.settings.show_language_selector
            or section.settings.footer_bottom_menu
            or section.settings.show_country_selector
          %}
            <div class="m-footer--bottom-right m:flex-1 m:flex m:flex-wrap m:items-left m:justify-left xl:m:w-auto m:w-full xl:m:justify-end m:flex-col md:m:flex-row{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">
              {% if section.settings.show_social_links %}
                {% render 'social-media-links', extra_classes: 'justify-center md:justify-end' %}
              {% endif %}
              {% if section.settings.show_currency_selector
                or section.settings.show_language_selector
                or section.settings.show_country_selector
              %}
                <div class="m-footer--currency-language m:display-flex">
                  {% liquid
                    if section.settings.show_country_selector
                      render 'country-selector', pos: 'top'
                    endif

                    if section.settings.show_currency_selector
                      render 'currency-switcher', pos: 'top'
                    endif

                    if section.settings.show_language_selector
                      render 'language-switcher', pos: 'top'
                    endif
                  %}
                </div>
              {% endif %}
              {% if section.settings.footer_bottom_menu != blank %}
                {% assign menu = section.settings.footer_bottom_menu %}
                <ul class="m-footer--bottom-menu m-link-lists m-link-lists--inline{% if section.settings.show_menu_item_divider %} show-menu-item-divider{% endif %}">
                  {% for link in linklists[menu].links %}
                    <li class="m-footer--bottom-menu-item m-link-lists--item">
                      <a class="m-link" href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endif %}
        {% when 'footer-3' %}
          {% if section.settings.show_social_links
            or section.settings.show_currency_selector
            or section.settings.show_language_selector
          %}
            <div class="m-footer--bottom-left m:flex-1 m:flex-col m:display-flex m:flex-wrap m:items-left m:justify-left xl:m:justify-start xl:m:w-auto m:w-full{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">
              {% if section.settings.show_social_links %}
                {% render 'social-media-links' %}
              {% endif %}
              <div class="m-footer--currency-language m:display-flex">
                {% liquid
                  if section.settings.show_country_selector
                    render 'country-selector', pos: 'top'
                  endif

                  if section.settings.show_currency_selector
                    render 'currency-switcher', pos: 'top'
                  endif

                  if section.settings.show_language_selector
                    render 'language-switcher', pos: 'top'
                  endif
                %}
              </div>
            </div>
          {% endif %}
          {% if section.settings.copyright != blank %}
            <div class="m-footer--bottom-center m:flex-1 xl:m:text-center xl:m:w-auto m:w-full{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">
              <span class="m-footer__copyright">{{ copyright_text }}</span>
              {%- if show_follow_on_shop -%}
                <div class="m-follow-on-shop">
                  {% comment %} TODO: enable theme-check once `login_button` is accepted as valid filter {% endcomment %}
                  {% # theme-check-disable %}
                  {{ shop | login_button: action: 'follow' }}
                  {% # theme-check-enable %}
                </div>
              {%- endif -%}
            </div>
          {% endif %}
          {% if section.settings.show_payment_icons or section.settings.footer_bottom_menu %}
            <div class="m-footer--bottom-right m:flex-1 m:display-flex m:flex-col m:justify-center xl:m:justify-end xl:m:w-auto m:w-full{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">
              {% if section.settings.show_payment_icons %}
                {% render 'payment-icons', section: section, classes: 'xl:m:justify-end' %}
              {% endif %}
              {% if section.settings.footer_bottom_menu != blank %}
                {% assign menu = section.settings.footer_bottom_menu %}
                <ul class="m-footer--bottom-menu m-link-lists m-link-lists--inline{% if section.settings.show_menu_item_divider %} show-menu-item-divider{% endif %}">
                  {% for link in linklists[menu].links %}
                    <li class="m-footer--bottom-menu-item m-link-lists--item">
                      <a class="m-link" href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endif %}
        {% when 'footer-4' %}
          {% if section.settings.copyright != blank %}
            <div class="m-footer--bottom-left m:flex-1 xl:m:flex-none m:text-center xl:m:text-left">
              <div class="container selos-rodape">
                <a href="https://transparencyreport.google.com/safe-browsing/search?url={{ shop.domain }}" target="_blank" rel="noopener" aria-describedby="a11y-new-window-message">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 92 34" height="42" width="86" aria-label="Google Site Seguro">
                    <path fill="white" d="M41.4295 9.10098V11.0271H45.935C45.8012 12.1023 45.4449 12.8962 44.9121 13.4538C44.2556 14.1211 43.2202 14.858 41.4295 14.858C38.6628 14.858 36.4933 12.58 36.4933 9.74528C36.4933 6.91308 38.6628 4.63508 41.4295 4.63508C42.9191 4.63508 44.0206 5.23603 44.821 6.00613L46.1441 4.65803C45.0234 3.54623 43.5204 2.70898 41.4295 2.70898C37.6299 2.70898 34.4375 5.86078 34.4375 9.73508C34.4375 13.6102 37.6299 16.7612 41.4295 16.7612C43.4878 16.7612 45.0334 16.0701 46.2453 14.7892C47.4898 13.5201 47.8787 11.7402 47.8787 10.3029C47.8787 9.86088 47.8461 9.43928 47.7775 9.10098H41.4295Z" style="fill: currentColor;"></path>
                    <path fill="white" d="M53.5047 7.54688C51.0474 7.54688 49.0352 9.45258 49.0352 12.0825C49.0352 14.6886 51.0474 16.6147 53.5047 16.6147C55.9611 16.6147 57.9734 14.6886 57.9734 12.0825C57.9734 9.45258 55.9711 7.54688 53.5047 7.54688ZM53.5047 14.8348C52.1581 14.8348 50.9922 13.7026 50.9922 12.0825C50.9922 10.4488 52.1581 9.32677 53.5047 9.32677C54.8504 9.32677 56.0171 10.4488 56.0171 12.0825C56.0171 13.7026 54.8604 14.8348 53.5047 14.8348Z" style="fill: currentColor;"></path>
                    <path fill="white" d="M75.4066 8.55626H75.338C74.9064 8.02501 74.0608 7.53711 72.992 7.53711C70.7706 7.53711 68.8369 9.50911 68.8369 12.0693C68.8369 14.6193 70.7706 16.6049 72.992 16.6049C74.0608 16.6049 74.9072 16.117 75.338 15.5722H75.4066V16.2063C75.4066 17.9403 74.4949 18.8693 73.0279 18.8693C71.8261 18.8693 71.0909 17.9964 70.7806 17.2492L69.0786 17.9632C69.5687 19.1651 70.8684 20.639 73.0279 20.639C75.3187 20.639 77.2524 19.268 77.2524 15.9113V7.75216H75.394V8.55541L75.4066 8.55626ZM73.1592 14.8352C71.816 14.8352 70.7806 13.6665 70.7806 12.0829C70.7806 10.4824 71.8035 9.32721 73.1592 9.32721C74.4949 9.32721 75.5404 10.496 75.5404 12.0931C75.5404 13.6801 74.4949 14.8352 73.1592 14.8352Z" style="fill: currentColor;"></path>
                    <path fill="white" d="M63.4656 7.54688C61.0084 7.54688 58.9961 9.45258 58.9961 12.0825C58.9961 14.6886 61.0084 16.6147 63.4656 16.6147C65.922 16.6147 67.9351 14.6886 67.9351 12.0825C67.9351 9.45258 65.922 7.54688 63.4656 7.54688ZM63.4656 14.8348C62.1191 14.8348 60.9532 13.7026 60.9532 12.0825C60.9532 10.4488 62.1191 9.32677 63.4656 9.32677C64.8122 9.32677 65.9781 10.4488 65.9781 12.0825C65.9781 13.7026 64.8113 14.8348 63.4656 14.8348Z" style="fill: currentColor;"></path>
                    <path fill="white" d="M78.7852 2.90234H80.7088V16.6264H78.7852V2.90234Z" style="fill: currentColor;"></path>
                    <path fill="white" d="M86.6461 14.8348C85.6458 14.8348 84.9441 14.3698 84.4899 13.4637L90.4356 10.9605L90.2491 10.4386C89.8803 9.41603 88.7462 7.54688 86.4462 7.54688C84.1562 7.54688 82.2451 9.38288 82.2451 12.0825C82.2451 14.6325 84.1336 16.6147 86.6586 16.6147C88.691 16.6147 89.8702 15.3465 90.3704 14.6087L88.8574 13.5768C88.3347 14.3239 87.6455 14.8348 86.6461 14.8348ZM86.5122 9.24688C87.3026 9.24688 87.9784 9.66848 88.2042 10.2465L84.1788 11.9465C84.1788 10.0306 85.5019 9.24688 86.5122 9.24688Z" style="fill: currentColor;"></path>
                    <path fill="white" d="M34.7944 27.4622C35.2059 27.7206 35.8064 27.9365 36.4279 27.9365C37.3621 27.9365 37.9082 27.4384 37.9082 26.7015C37.9082 26.0215 37.5285 25.6356 36.5717 25.2607C35.415 24.8425 34.7066 24.2314 34.7066 23.2216C34.7066 22.0996 35.6174 21.2598 36.9958 21.2598C37.7184 21.2598 38.2411 21.4323 38.5606 21.6117L38.3063 22.3716C37.8919 22.1473 37.4293 22.0311 36.9598 22.0333C35.993 22.0333 35.6275 22.6206 35.6275 23.1085C35.6275 23.7894 36.0624 24.1183 37.0384 24.5034C38.2411 24.9785 38.8516 25.5659 38.8516 26.6216C38.8516 27.7308 38.0412 28.6973 36.3718 28.6973C35.6927 28.6973 34.9375 28.4916 34.5586 28.2323L34.7944 27.4622ZM41.0864 21.9534C41.0964 22.2687 40.8639 22.5314 40.4984 22.5314C40.4241 22.5317 40.3505 22.5169 40.2819 22.4879C40.2133 22.4588 40.1511 22.4161 40.099 22.3622C40.047 22.3084 40.006 22.2444 39.9787 22.1742C39.9513 22.104 39.9381 22.0289 39.9398 21.9534C39.9398 21.6244 40.1848 21.3626 40.5177 21.3626C40.874 21.3626 41.0864 21.6244 41.0864 21.9534ZM40.0635 28.5944V23.4145H40.9852V28.5944H40.0635ZM43.6315 21.9168V23.4043H44.9546V24.1183H43.6315V26.9174C43.6315 27.5617 43.8113 27.9238 44.3206 27.9238C44.5657 27.9238 44.7422 27.8898 44.8534 27.8566L44.8994 28.5613C44.7229 28.6378 44.4319 28.6837 44.0756 28.6837C43.6448 28.6837 43.2978 28.5477 43.0761 28.2884C42.8085 28.0028 42.7198 27.5515 42.7198 26.9369V24.1183H41.9328V23.4043H42.7198V22.1557L43.6315 21.9168ZM46.4442 26.1668C46.4676 27.4384 47.268 27.9697 48.1888 27.9697C48.8587 27.9697 49.2476 27.8566 49.6039 27.6977L49.757 28.3777C49.4367 28.5247 48.8788 28.6973 48.0675 28.6973C46.5002 28.6973 45.5651 27.6416 45.5651 26.0776C45.5651 24.5136 46.4676 23.2785 47.9471 23.2785C49.6031 23.2785 50.048 24.7626 50.048 25.7155C50.048 25.9076 50.0246 26.0538 50.0121 26.1575H46.4433L46.4442 26.1668ZM49.1556 25.4996C49.169 24.8986 48.9139 23.9696 47.8785 23.9696C46.9443 23.9696 46.532 24.8425 46.4567 25.4996H49.1556ZM53.3283 27.4622C53.8209 27.7666 54.3852 27.9304 54.9617 27.9365C55.8959 27.9365 56.4379 27.4384 56.4379 26.7015C56.4379 26.0215 56.0623 25.6356 55.1055 25.2607C53.9488 24.8425 53.2363 24.2314 53.2363 23.2216C53.2363 22.0996 54.1479 21.2598 55.5271 21.2598C56.2488 21.2598 56.7716 21.4323 57.0952 21.6117L56.8402 22.3716C56.4254 22.1482 55.963 22.032 55.4936 22.0333C54.5268 22.0333 54.1613 22.6206 54.1613 23.1085C54.1613 23.7894 54.592 24.1183 55.5722 24.5034C56.7716 24.9785 57.3855 25.5659 57.3855 26.6216C57.3855 27.7308 56.5725 28.6973 54.9057 28.6973C54.2265 28.6973 53.4721 28.4916 53.0924 28.2323L53.3283 27.4622ZM59.1728 26.1668C59.1954 27.4384 59.9958 27.9697 60.9208 27.9697C61.5874 27.9697 61.9763 27.8566 62.3317 27.6977L62.489 28.3777C62.1653 28.5247 61.6108 28.6973 60.7962 28.6973C59.228 28.6973 58.2971 27.6416 58.2971 26.0776C58.2971 24.5136 59.1954 23.2785 60.6757 23.2785C62.3317 23.2785 62.7767 24.7626 62.7767 25.7155C62.7767 25.9076 62.7532 26.0538 62.7432 26.1575H59.1728V26.1668ZM61.8876 25.4996C61.8976 24.8986 61.6426 23.9696 60.6071 23.9696C59.6763 23.9696 59.2639 24.8425 59.1853 25.4996H61.8876ZM68.3142 23.4043C68.2908 23.7766 68.2682 24.1948 68.2682 24.8323V27.8473C68.2682 29.0356 68.0366 29.7598 67.5464 30.2145C67.0563 30.6888 66.3337 30.8384 65.7006 30.8384C65.09 30.8384 64.4226 30.6888 64.0111 30.4066L64.2437 29.6926C64.5765 29.9094 65.0992 30.1015 65.7324 30.1015C66.6775 30.1015 67.3666 29.6034 67.3666 28.2884V27.7104H67.3466C67.0563 28.1949 66.5102 28.5808 65.7232 28.5808C64.4653 28.5808 63.5536 27.4954 63.5536 26.0538C63.5536 24.2977 64.6777 23.3015 65.8444 23.3015C66.7226 23.3015 67.2127 23.7766 67.4352 24.194H67.4578L67.5005 23.4145H68.3142V23.4043ZM67.3566 25.4528C67.3566 25.2973 67.3466 25.1613 67.3014 25.0244C67.1341 24.4804 66.6775 24.0257 66.0109 24.0257C65.1319 24.0257 64.4979 24.7856 64.4979 25.9875C64.4979 27.0075 65.0014 27.8473 66.0008 27.8473C66.5662 27.8473 67.0798 27.4818 67.278 26.8808C67.334 26.7244 67.3566 26.5425 67.3566 26.3827V25.4528ZM74.0517 27.1766C74.0517 27.7113 74.06 28.1856 74.0935 28.5944H73.2697L73.2145 27.7444H73.1952C73.0238 28.0411 72.7781 28.2865 72.4831 28.4555C72.1881 28.6245 71.8544 28.7111 71.5158 28.7066C70.7154 28.7066 69.7578 28.2519 69.7578 26.4388V23.4145H70.6795V26.2833C70.6795 27.2659 70.9697 27.9365 71.8169 27.9365C72.4367 27.9365 72.8582 27.4945 73.038 27.0738C73.0941 26.9378 73.1267 26.7678 73.1267 26.5893V23.4043H74.0508L74.0517 27.1766ZM75.5831 25.0244C75.5831 24.4107 75.573 23.8888 75.5412 23.4043H76.3508L76.3843 24.4243H76.4295C76.6611 23.7333 77.2165 23.2879 77.8404 23.2879C77.9416 23.2879 78.0169 23.3015 78.108 23.3244V24.2084C78.0055 24.1845 77.9005 24.1731 77.7952 24.1744C77.1412 24.1744 76.6837 24.6725 76.5633 25.3865C76.5347 25.5321 76.5193 25.6801 76.5173 25.8285V28.5944H75.6056V25.0244H75.5831ZM83.5218 25.9543C83.5218 27.8668 82.2221 28.7066 80.9868 28.7066C79.6085 28.7066 78.553 27.6747 78.553 26.0444C78.553 24.3104 79.6637 23.2879 81.0755 23.2879C82.5324 23.2879 83.5218 24.3674 83.5218 25.9543ZM79.4872 26.0113C79.4872 27.1435 80.1312 28.0028 81.0328 28.0028C81.9085 28.0028 82.5776 27.1528 82.5776 25.9883C82.5776 25.1145 82.1427 23.9925 81.0521 23.9925C79.9547 23.9925 79.4872 25.0244 79.4872 26.0113Z" style="fill: currentColor;"></path>
                    <path fill="#818181" d="M14.9038 32.347C14.4039 32.3451 13.9091 32.2447 13.4469 32.0512L13.3917 32.0282C11.0917 31.1213 8.92217 29.8395 7.13151 28.3223C3.45402 25.2181 1.50613 21.2502 1.50613 16.8643V4.433C1.50613 4.25025 1.49609 4.0573 1.49609 3.6629V1.21235L14.4597 1.20215H15.3488L24.967 1.21235H28.3124V3.6629C28.3124 3.8754 28.3124 4.0573 28.3024 4.26045C28.3024 4.46615 28.289 4.68205 28.289 4.9872V16.8643C28.289 21.2502 26.3453 25.2181 22.6636 28.3223C20.8629 29.8395 18.6942 31.1213 16.4034 32.0282L16.3616 32.0512C15.8998 32.247 15.4042 32.3475 14.9038 32.347Z"></path>
                    <path fill="#BFBFBF" d="M14.9038 32.3466C14.4039 32.3447 13.9091 32.2442 13.4469 32.0508L13.3917 32.0278C11.0917 31.1209 8.92217 29.8391 7.13151 28.3218C3.45402 25.2176 1.50613 21.2498 1.50613 16.8638V4.43256C1.50613 4.24981 1.49609 4.05686 1.49609 3.66246V1.21191L14.8815 1.21235"></path>
                    <path fill="#3B3B3B" d="M24.9673 3.66301L15.3491 3.64941H14.4692L3.91016 3.66301C3.91016 4.36341 3.91936 4.38636 3.91936 4.98731V16.8644C3.91936 26.0214 13.9465 29.6042 14.3714 29.7844C14.5378 29.8532 14.7268 29.8966 14.9033 29.8966C15.0798 29.8966 15.2696 29.8626 15.4361 29.7835C15.861 29.605 25.8873 26.0214 25.8873 16.8635V4.98816C25.8873 4.38721 25.9007 4.10501 25.9007 3.66386L24.9673 3.66301Z"></path>
                    <path fill="#585858" d="M14.904 3.66301H14.8714C14.8714 3.66301 14.5703 3.64941 14.4599 3.64941L3.89746 3.66301C3.89746 4.36341 3.91084 4.38636 3.91084 4.98731V16.8644C3.91084 17.1466 3.92004 17.4186 3.93008 17.6914C4.50884 26.2841 13.9472 29.5914 14.3587 29.7733C14.526 29.8532 14.715 29.8864 14.894 29.8864V22.3027C14.8162 22.3265 14.904 3.66301 14.904 3.66301Z"></path>
                    <path fill="white" d="M9.43457 17.7476L12.1235 15.0846L13.8489 16.7285L19.9058 10.5957L22.4409 13.2154L13.9693 22.0665L9.43457 17.7476Z"></path>
                  </svg>
                </a>
                <a href="https://www.sslshopper.com/ssl-checker.html#hostname={{ shop.domain }}" target="_blank" rel="noopener" aria-describedby="a11y-new-window-message">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 80 38" height="36" width="78" aria-label="Certificado SSL">
                    <g clip-path="url(#clip0_10392_3541)">
                      <path fill="currentColor" d="M35.1597 6.53984C37.4687 6.53984 38.6207 7.84384 38.6207 10.3088V10.7418H36.4567V10.1478C36.4567 9.13284 36.0227 8.69884 35.3047 8.69884C34.5817 8.69884 34.1477 9.13284 34.1477 10.1488C34.1477 13.1948 38.6207 13.7728 38.6207 17.9768C38.6207 20.2968 37.4687 21.7468 35.1607 21.7468C32.8507 21.7468 31.6947 20.4408 31.6947 17.9768V17.1088H33.8587V18.1208C33.8587 19.1368 34.2927 19.5738 35.0157 19.5738C35.7337 19.5738 36.1677 19.1368 36.1677 18.1208C36.1677 15.0778 31.6947 14.4998 31.6947 10.2928C31.8397 7.84284 32.9957 6.53984 35.1597 6.53984ZM42.2297 12.9178H45.4017V15.0938H42.2297V19.4408H46.2697V21.6168H39.9217V6.82784H46.2697V9.00384H42.2297V12.9178ZM51.1757 13.2068H54.3477V17.8468C54.3477 20.1678 53.1947 21.6168 50.8867 21.6168C48.5777 21.6168 47.4217 20.3118 47.4217 17.8468V10.1478C47.4217 7.82784 48.5777 6.37784 50.8867 6.37784C53.1947 6.37784 54.3467 7.68384 54.3467 10.1478V11.5978H52.1837V10.0198C52.1837 9.00384 51.7537 8.56984 51.0307 8.56984C50.3087 8.56984 49.8747 9.00384 49.8747 10.0198V17.9918C49.8747 19.0078 50.3087 19.4418 51.0307 19.4418C51.7537 19.4418 52.1837 19.0078 52.1837 17.9918V15.2378H51.1757V13.2068ZM58.1017 6.68384V18.1368C58.1017 19.1518 58.5347 19.5858 59.2537 19.5858C59.9767 19.5858 60.4097 19.1518 60.4097 18.1358V6.68484H62.5737V17.9928C62.5737 20.3128 61.4177 21.7628 59.1087 21.7628C56.8007 21.7628 55.6487 20.4578 55.6487 17.9928V6.68384H58.1017ZM69.0657 21.4728C68.8699 20.8639 68.8206 20.2174 68.9217 19.5858V17.2658C68.9217 15.8158 68.4877 15.3828 67.4797 15.3828H66.6127V21.3278H64.3047V6.53984H67.7697C70.2227 6.53984 71.2297 7.69984 71.2297 10.0198V11.1798C71.3043 11.788 71.1927 12.4044 70.9097 12.9479C70.6268 13.4913 70.1857 13.9362 69.6447 14.2238C70.7967 14.6568 71.2297 15.8168 71.2297 17.4148V19.7308C71.1858 20.3267 71.2852 20.9243 71.5197 21.4738L69.0657 21.4728ZM66.4697 8.85884V13.3518H67.3367C68.2037 13.3518 68.7777 12.9178 68.7777 11.7578V10.3078C68.7777 9.29284 68.3447 8.85884 67.6257 8.85884H66.4697ZM72.5307 10.1478C72.5009 9.68248 72.563 9.2158 72.7136 8.77446C72.8642 8.33312 73.1002 7.92576 73.4082 7.57566C73.7162 7.22557 74.0902 6.93959 74.5088 6.73406C74.9274 6.52853 75.3824 6.40749 75.8477 6.37784C77.8007 6.25784 79.4797 7.75384 79.6017 9.71484V17.8318C79.6604 18.7718 79.3437 19.6966 78.7213 20.4034C78.0989 21.1102 77.2215 21.5412 76.2817 21.6018C75.8166 21.63 75.3504 21.566 74.91 21.4137C74.4696 21.2614 74.0636 21.0236 73.7152 20.7141C73.3669 20.4046 73.083 20.0293 72.8799 19.6099C72.6768 19.1905 72.5585 18.7351 72.5317 18.2698L72.5307 10.1478ZM74.8397 17.9768C74.8397 18.9918 75.2697 19.4258 75.9917 19.4258C76.7147 19.4258 77.1477 18.9918 77.1477 17.9758V10.0198C77.1477 9.00384 76.7147 8.56984 75.9917 8.56984C75.2697 8.56984 74.8397 9.00384 74.8397 10.0198V17.9768ZM34.8707 28.8668V29.7338C34.8958 29.9555 34.8733 30.18 34.8047 30.3923C34.736 30.6045 34.6228 30.7997 34.4727 30.9647C34.3225 31.1297 34.1389 31.2608 33.934 31.3491C33.7292 31.4374 33.5078 31.481 33.2847 31.4768C32.2727 31.4768 31.6947 30.8948 31.6947 29.7338V26.4018C31.6407 25.9488 31.7847 25.4958 32.0897 25.1598C32.3947 24.8198 32.8317 24.6368 33.2847 24.6478C34.2927 24.6478 34.8707 25.2268 34.8707 26.3868V26.9688H33.8597V26.3868C33.8597 25.9528 33.7157 25.6598 33.2857 25.6598C32.8527 25.6598 32.7077 25.8088 32.7077 26.3868V30.0118C32.7077 30.4448 32.8527 30.5898 33.2857 30.5898C33.7157 30.5898 33.8597 30.4448 33.8597 30.0118V28.9958L34.8707 28.8668ZM36.4567 27.5468H37.9017V28.5618H36.4567V30.5898H38.3317V31.4598H35.4487V24.7928H38.3317V25.8088H36.4567V27.5468ZM41.0737 31.3318C40.9562 31.0574 40.9067 30.7585 40.9297 30.4608V29.4448C40.9297 28.8668 40.7847 28.5748 40.2097 28.5748H39.7767V31.3318H38.7657V24.6478H40.3517C40.5665 24.6249 40.7837 24.6504 40.9873 24.7224C41.1909 24.7945 41.3758 24.9112 41.5284 25.0642C41.6809 25.2171 41.7972 25.4023 41.8688 25.6061C41.9403 25.8099 41.9652 26.0271 41.9417 26.2418V26.8198C41.9806 26.953 41.9927 27.0925 41.9774 27.2304C41.9621 27.3683 41.9195 27.5017 41.8523 27.6231C41.7851 27.7444 41.6945 27.8512 41.5857 27.9374C41.477 28.0235 41.3523 28.0872 41.2187 28.1248C41.7967 28.2728 41.9407 28.8518 41.9407 29.5778V30.5898C41.9017 30.8438 41.9527 31.0978 42.0857 31.3158L41.0737 31.3318ZM39.9217 25.6758V27.7068H40.3517C40.7847 27.7068 40.9297 27.5618 40.9297 26.9798V26.4018C40.9297 25.9648 40.7847 25.6758 40.3517 25.6758H39.9217ZM42.3747 24.6478H45.5467V25.6598H44.3947V31.3158H43.3827V25.6598H42.2297L42.3747 24.6478ZM46.1247 24.6478H47.1367V31.3158H46.1247V24.6478ZM49.0117 27.7068H50.3087V28.5738H49.0117V31.3318H47.9997V24.6478H50.7417V25.6598H49.0117V27.7068ZM51.1757 24.6478H52.1837V31.3158H51.1757V24.6478ZM56.0817 28.8668V29.7338C56.1069 29.9559 56.0843 30.1807 56.0154 30.3932C55.9465 30.6058 55.833 30.8012 55.6824 30.9662C55.5318 31.1313 55.3476 31.2623 55.1423 31.3503C54.9369 31.4384 54.7151 31.4815 54.4917 31.4768C53.4837 31.4768 52.9057 30.8948 52.9057 29.7338V26.4018C52.8517 25.9488 52.9957 25.4958 53.3007 25.1598C53.4501 24.993 53.634 24.8608 53.8397 24.7724C54.0454 24.684 54.2679 24.6415 54.4917 24.6478C55.5037 24.6478 56.0817 25.2268 56.0817 26.3868V26.9688H55.0697V26.3868C55.0697 25.9528 54.9257 25.6598 54.4917 25.6598C54.0617 25.6598 53.9177 25.8088 53.9177 26.3868V30.0118C53.9177 30.4448 54.0627 30.5898 54.4917 30.5898C54.9257 30.5898 55.0697 30.4448 55.0697 30.0118V28.9958L56.0817 28.8668ZM59.9767 31.3318H58.9687L58.8237 30.1718H57.5237L57.3787 31.3318H56.3697L57.3777 24.6598H58.9677L59.9767 31.3318ZM57.6677 29.3008H58.6797L58.1017 25.9648L57.6677 29.3008ZM60.5547 24.6478H62.1407C62.5737 24.6018 63.0037 24.7538 63.3127 25.0628C63.6207 25.3748 63.7727 25.8048 63.7267 26.2428V29.5778C63.7501 29.7922 63.7253 30.009 63.6539 30.2125C63.5826 30.416 63.4667 30.6009 63.3146 30.7538C63.1625 30.9066 62.9782 31.0235 62.775 31.0958C62.5719 31.1682 62.3552 31.1942 62.1407 31.1718H60.5547V24.6478ZM61.5627 25.6598V30.4448H62.1407C62.4297 30.4448 62.7187 30.3008 62.7187 29.7228V26.3868C62.7187 25.9528 62.5737 25.6598 62.1407 25.6598H61.5627ZM64.3047 26.4018C64.3047 25.5198 65.0147 24.8048 65.8947 24.8048C66.7697 24.8048 67.4797 25.5198 67.4797 26.4018V29.8818C67.4797 30.7618 66.7697 31.4768 65.8947 31.4768C65.0147 31.4768 64.3047 30.7618 64.3047 29.8828V26.4018ZM65.3157 29.8818C65.3157 30.3158 65.4607 30.6048 65.8947 30.6048C66.3247 30.6048 66.4687 30.4608 66.4687 29.8828V26.2578C66.4687 25.8198 66.3237 25.5308 65.8947 25.5308C65.4607 25.5308 65.3157 25.6758 65.3157 26.2578V29.8818ZM71.0857 24.6478C72.0977 24.6478 72.6757 25.2268 72.6757 26.3868V26.5308H71.6637V26.2418C71.6637 25.8088 71.5197 25.5158 71.0857 25.5158C70.6517 25.5158 70.5117 25.6598 70.5117 26.2418C70.5117 27.6918 72.5317 27.8358 72.5317 29.7218C72.5817 30.1718 72.4337 30.6218 72.1287 30.9528C71.8237 31.2888 71.3947 31.4728 70.9407 31.4608C69.9337 31.4608 69.3547 30.8828 69.3547 29.7228V29.2848H70.3667V29.7228C70.3667 30.1558 70.5117 30.3008 70.9407 30.3008C71.3747 30.3008 71.5197 30.1558 71.5197 29.7228C71.5197 28.2728 69.4997 28.1248 69.4997 26.2428C69.4765 26.0277 69.5017 25.8102 69.5733 25.606C69.6449 25.4019 69.7612 25.2163 69.9137 25.0628C70.2227 24.7528 70.6517 24.6018 71.0857 24.6478ZM74.5497 24.6478C75.5587 24.6478 76.1367 25.2268 76.1367 26.3868V26.5308H75.1287V26.2418C75.1287 25.8088 74.9837 25.5158 74.5507 25.5158C74.1167 25.5158 73.9727 25.6598 73.9727 26.2418C73.9727 27.6918 75.9927 27.8358 75.9927 29.7218C76.0184 29.9435 75.9962 30.1681 75.9277 30.3805C75.8591 30.5928 75.7458 30.788 75.5954 30.9529C75.445 31.1177 75.2609 31.2483 75.0557 31.336C74.8505 31.4236 74.6288 31.4662 74.4057 31.4608C73.3947 31.4608 72.8197 30.8828 72.8197 29.7228V29.2848H73.8277V29.7228C73.8277 30.1558 73.9727 30.3008 74.4057 30.3008C74.8397 30.3008 74.9837 30.1558 74.9837 29.7228C74.9837 28.2728 72.9607 28.1248 72.9607 26.2428C73.1047 25.2428 73.5377 24.6478 74.5497 24.6478ZM76.7147 24.6478H77.7227V30.4448H79.4567V31.3158H76.7147V24.6478Z"/>
                      <path fill="#585858" d="M12.3627 14.6562V38.0002C12.3627 38.0002 0.386719 37.4223 0.386719 26.4023V14.8053H12.3627V14.6562Z"/>
                      <path fill="#434343" d="M12.3633 14.6562V38.0002C12.3633 38.0002 24.3363 37.4223 24.3363 26.4023V14.8053H12.3633V14.6562Z"/>
                      <path fill="currentColor" d="M12.3628 5.85802e-06C11.0685 -0.0659791 9.78233 0.240407 8.65673 0.882871C7.53113 1.52533 6.61326 2.47695 6.01184 3.62501C5.16403 5.18206 4.71822 6.9261 4.71484 8.69901V14.645H8.02984V7.39501C8.04656 6.76377 8.21249 6.14546 8.51404 5.59066C8.8156 5.03587 9.24422 4.56035 9.76484 4.20301C10.5399 3.7077 11.4405 3.44451 12.3603 3.44451C13.2802 3.44451 14.1808 3.7077 14.9558 4.20301C15.5099 4.52478 15.9647 4.99279 16.2706 5.55579C16.5764 6.11879 16.7215 6.75508 16.6898 7.39501V14.645H20.0068V8.69901C20.0068 6.92601 19.5568 5.17901 18.7098 3.62501C18.0958 2.48853 17.1758 1.54665 16.0541 0.905996C14.9324 0.265344 13.6537 -0.048495 12.3628 5.85802e-06Z"/>
                      <path fill="white" d="M8.89793 22.7774L6.87793 24.8054L10.7729 29.3014L17.6989 22.4884L15.3909 20.0234L11.0619 24.9534L8.89793 22.7774Z"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_10392_3541">
                        <rect fill="white" height="38" width="80"/>
                      </clipPath>
                    </defs>
                  </svg>
                </a>
              </div>
              <span class="m-footer__copyright m-footer__copyright--desktop m:mt-3 m:block m:w-full" style="margin-top: 18px;font-size: 14px;">{{ copyright_text }}</span>
              {%- if show_follow_on_shop -%}
                <div class="m-follow-on-shop">
                  {% comment %} TODO: enable theme-check once `login_button` is accepted as valid filter {% endcomment %}
                  {% # theme-check-disable %}
                  {{ shop | login_button: action: 'follow' }}
                  {% # theme-check-enable %}
                </div>
              {%- endif -%}
            </div>
          {% endif %}
          <div class="m-footer--bottom-center-footer4 m:flex-1 xl:m:flex-none m:flex m:flex-col m:justify-center m:items-center">
            <a href="https://aloftagencia.com" target="_blank" rel="noopener">
              <svg width="150" height="50" viewBox="0 0 821 337" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="821" height="337" rx="45" fill="white"></rect>
                <path d="M226.965 112.269C226.909 111.875 226.716 111.513 226.421 111.245C226.125 110.977 225.745 110.82 225.346 110.802C224.61 110.802 211.645 110.508 211.645 110.508C211.645 110.508 203.692 102.869 200.744 99.93V258.706L247 247.259C247 247.259 227.112 113.15 226.965 112.269ZM190.285 99.93C189.578 97.7079 188.69 95.547 187.632 93.4686C183.789 86.1265 178.056 82.1455 171.277 82.1455C170.782 82.1283 170.287 82.1777 169.805 82.2922C169.658 81.9987 169.363 81.8519 169.216 81.5584C166.272 78.3405 162.444 76.8729 157.874 77.0086C149.041 77.3021 140.209 83.6131 133.125 94.9252C128.116 102.858 124.292 112.846 123.254 120.632C113.09 123.714 106.02 125.919 105.873 126.066C100.721 127.68 100.57 127.827 99.9846 132.67C99.543 136.339 86 239.744 86 239.744L197.355 259V98.1688C196.813 98.1893 196.272 98.2383 195.735 98.3155C195.735 98.3155 193.674 98.9026 190.285 99.93ZM169.956 106.248C164.067 108.01 157.579 110.064 151.246 111.976C153.012 105.071 156.549 98.1688 160.674 93.63C162.294 92.0156 164.505 90.1039 167.008 88.9298C169.514 94.2024 170.103 101.401 169.956 106.248ZM157.874 83.0407C159.729 82.9826 161.565 83.4345 163.18 84.347C160.825 85.5211 158.466 87.4328 156.258 89.6343C150.661 95.6591 146.388 105.045 144.621 114.016C139.315 115.634 134.011 117.249 129.165 118.716C132.389 104.63 144.32 83.3343 157.874 83.0407ZM140.787 163.825C141.375 173.222 166.272 175.28 167.744 197.457C168.774 214.937 158.463 226.832 143.584 227.717C125.613 228.891 115.743 218.316 115.743 218.316L119.57 202.172C119.57 202.172 129.441 209.664 137.397 209.077C142.549 208.784 144.471 204.524 144.32 201.585C143.584 189.249 123.254 189.983 121.929 169.714C120.752 152.674 131.947 135.492 156.696 133.874C166.264 133.287 171.133 135.638 171.133 135.638L165.536 156.773C165.536 156.773 159.202 153.838 151.687 154.425C140.787 155.162 140.639 162.06 140.787 163.825ZM175.848 104.483C175.848 100.08 175.259 93.7621 173.194 88.4748C179.973 89.7957 183.212 97.2808 184.687 101.842C182.035 102.575 179.089 103.456 175.848 104.483Z" fill="black"></path>
                <line x1="306" y1="49" x2="306" y2="285" stroke="black" stroke-width="4"></line>
                <path d="M671.584 169.218H644.893C644.893 154.634 656.812 142.867 671.584 142.867V118C664.538 118 657.817 119.324 651.442 121.979C645.229 124.634 639.694 128.274 634.993 132.915C630.122 137.725 626.435 143.189 623.745 149.323C621.056 155.618 619.714 162.253 619.714 169.209V261.354H644.893V192.405H671.584V169.209V169.218Z" fill="black"></path>
                <path d="M696.556 211.791V192.235H723.249V169.031H696.556V147.651H671.379V211.791C671.379 218.747 672.719 225.543 675.408 231.847C678.098 237.981 681.785 243.444 686.656 248.085C691.357 252.726 696.901 256.535 703.105 259.021C709.482 261.676 716.201 263 723.249 263V238.142C708.475 238.142 696.556 226.375 696.556 211.791Z" fill="black"></path>
                <path d="M439.605 233.703L450.347 261.363H478.215L428.357 136.665H405.696L356 261.346H384.032L394.61 233.686H439.605V233.703ZM416.944 174.873L430.711 210.364H403.513L416.944 174.873Z" fill="black"></path>
                <path d="M480.673 136.054V261.354H506.024V127.774L480.673 136.054Z" fill="black"></path>
                <path d="M562.681 262.313C569.057 262.313 575.269 261.15 581.31 258.665C587.017 256.349 592.051 252.862 596.418 248.552C600.784 244.242 604.306 239.109 606.662 233.467C609.179 227.664 610.519 221.53 610.519 215.074C610.519 208.618 609.179 202.645 606.662 196.681C604.315 191.047 600.784 186.076 596.418 181.766C592.051 177.456 586.854 173.977 581.31 171.653C575.269 169.167 569.057 167.843 562.681 167.843C556.304 167.843 549.918 169.167 544.05 171.653C538.343 173.969 533.136 177.456 528.77 181.766C524.405 186.076 520.881 191.208 518.527 196.681C516.01 202.645 514.833 208.779 514.833 215.074C514.833 221.369 516.01 227.673 518.527 233.467C520.874 239.101 524.405 244.242 528.77 248.552C533.136 252.862 538.335 256.34 544.05 258.665C549.928 261.15 556.14 262.313 562.681 262.313ZM562.681 192.702C575.106 192.702 585.341 202.814 585.341 215.074C585.341 227.333 575.098 237.446 562.681 237.446C550.263 237.446 540.018 227.503 540.018 215.074C540.018 202.645 550.091 192.702 562.681 192.702Z" fill="black"></path>
                <path d="M671.584 169.218H644.893C644.893 154.634 656.812 142.867 671.584 142.867V118C664.538 118 657.817 119.324 651.442 121.979C645.229 124.634 639.694 128.274 634.993 132.915C630.122 137.725 626.435 143.189 623.745 149.323C621.056 155.618 619.714 162.253 619.714 169.209V261.354H644.893V192.405H671.584V169.209V169.218Z" fill="black"></path>
                <path d="M696.556 211.791V192.235H723.249V169.031H696.556V142.867L671.379 147.651V211.791C671.379 218.747 672.719 225.543 675.408 231.847C678.098 237.981 681.785 243.444 686.656 248.085C691.357 252.726 696.901 256.535 703.105 259.021C709.482 261.676 716.201 263 723.249 263V238.142C708.475 238.142 696.556 226.375 696.556 211.791Z" fill="black"></path>
                <path d="M738.903 259.683C743.432 259.683 747 256.132 747 251.623C747 247.114 743.432 243.563 738.903 243.563C734.373 243.563 730.672 247.114 730.672 251.623C730.672 256.132 734.373 259.683 738.903 259.683Z" fill="black"></path>
                <path d="M735.979 163.623V156.188H739.796C740.102 156.188 740.436 156.275 740.796 156.449C741.157 156.617 741.462 156.879 741.715 157.235C741.973 157.585 742.102 158.028 742.102 158.565C742.102 159.109 741.969 159.573 741.704 159.955C741.439 160.332 741.116 160.617 740.735 160.812C740.36 161.007 740.006 161.104 739.674 161.104H736.918V159.895H739.163C739.387 159.895 739.628 159.784 739.887 159.563C740.153 159.341 740.285 159.009 740.285 158.565C740.285 158.109 740.153 157.799 739.887 157.638C739.628 157.477 739.401 157.397 739.204 157.397H737.631V163.623H735.979ZM740.53 160.117L742.407 163.623H740.591L738.755 160.117H740.53ZM738.837 168.056C737.707 168.056 736.649 167.847 735.663 167.431C734.677 167.014 733.808 166.437 733.061 165.698C732.311 164.959 731.727 164.103 731.305 163.129C730.884 162.155 730.672 161.111 730.672 159.996C730.672 158.881 730.884 157.836 731.305 156.862C731.727 155.889 732.311 155.032 733.061 154.293C733.808 153.555 734.677 152.977 735.663 152.561C736.649 152.144 737.707 151.936 738.837 151.936C739.965 151.936 741.023 152.144 742.009 152.561C742.997 152.977 743.864 153.555 744.613 154.293C745.36 155.032 745.945 155.889 746.367 156.862C746.788 157.836 747 158.881 747 159.996C747 161.111 746.788 162.155 746.367 163.129C745.945 164.103 745.36 164.959 744.613 165.698C743.864 166.437 742.997 167.014 742.009 167.431C741.023 167.847 739.965 168.056 738.837 168.056ZM738.837 166.121C739.979 166.121 741.02 165.846 741.959 165.295C742.898 164.744 743.646 164.006 744.204 163.079C744.762 162.152 745.041 161.124 745.041 159.996C745.041 158.867 744.762 157.84 744.204 156.913C743.646 155.986 742.898 155.247 741.959 154.696C741.02 154.146 739.979 153.87 738.837 153.87C737.694 153.87 736.652 154.146 735.714 154.696C734.775 155.247 734.026 155.986 733.468 156.913C732.91 157.84 732.631 158.867 732.631 159.996C732.631 161.124 732.91 162.152 733.468 163.079C734.026 164.006 734.775 164.744 735.714 165.295C736.652 165.846 737.694 166.121 738.837 166.121Z" fill="black"></path>
                <path d="M370.19 91H359.596V58.2727H370.526C373.733 58.2727 376.487 58.9279 378.788 60.2383C381.089 61.538 382.852 63.4077 384.077 65.8473C385.313 68.2763 385.931 71.19 385.931 74.5884C385.931 77.9975 385.308 80.9272 384.061 83.3775C382.825 85.8278 381.036 87.7134 378.692 89.0344C376.348 90.3448 373.514 91 370.19 91ZM364.533 86.6854H369.919C372.412 86.6854 374.484 86.2166 376.135 85.2791C377.786 84.331 379.022 82.962 379.842 81.1722C380.663 79.3718 381.073 77.1772 381.073 74.5884C381.073 72.021 380.663 69.8423 379.842 68.0526C379.033 66.2628 377.824 64.9045 376.215 63.9776C374.606 63.0508 372.609 62.5874 370.222 62.5874H364.533V86.6854ZM400.016 91.4954C397.598 91.4954 395.515 90.9787 393.768 89.9453C392.032 88.9013 390.689 87.4364 389.741 85.5508C388.804 83.6545 388.335 81.4332 388.335 78.8871C388.335 76.3729 388.804 74.157 389.741 72.2393C390.689 70.3217 392.01 68.8249 393.704 67.7489C395.409 66.6729 397.401 66.1349 399.681 66.1349C401.066 66.1349 402.408 66.364 403.708 66.8221C405.008 67.2802 406.174 67.9993 407.207 68.9794C408.241 69.9595 409.056 71.2326 409.652 72.7987C410.249 74.354 410.547 76.245 410.547 78.4716V80.1655H391.036V76.5859H405.865C405.865 75.3288 405.609 74.2156 405.098 73.2461C404.587 72.266 403.868 71.4936 402.941 70.929C402.025 70.3643 400.949 70.082 399.713 70.082C398.37 70.082 397.199 70.4123 396.197 71.0728C395.206 71.7227 394.439 72.5749 393.896 73.6296C393.363 74.6736 393.097 75.8082 393.097 77.0334V79.8299C393.097 81.4705 393.385 82.8661 393.96 84.0167C394.546 85.1673 395.361 86.0462 396.405 86.6534C397.449 87.25 398.669 87.5483 400.064 87.5483C400.97 87.5483 401.796 87.4205 402.541 87.1648C403.287 86.8984 403.932 86.5043 404.475 85.9822C405.018 85.4602 405.434 84.8157 405.721 84.0487L410.244 84.8636C409.881 86.1953 409.232 87.3619 408.294 88.3633C407.367 89.354 406.201 90.1264 404.794 90.6804C403.399 91.2237 401.806 91.4954 400.016 91.4954ZM431.992 72.4471L427.661 73.2141C427.48 72.6602 427.192 72.1328 426.798 71.6321C426.415 71.1314 425.893 70.7212 425.232 70.4016C424.572 70.082 423.746 69.9222 422.755 69.9222C421.402 69.9222 420.273 70.2259 419.368 70.8331C418.462 71.4297 418.009 72.2021 418.009 73.1502C418.009 73.9705 418.313 74.631 418.92 75.1317C419.527 75.6325 420.507 76.0426 421.86 76.3622L425.76 77.2571C428.018 77.7791 429.701 78.5835 430.809 79.6701C431.917 80.7567 432.471 82.1683 432.471 83.9048C432.471 85.375 432.045 86.6854 431.193 87.8359C430.351 88.9759 429.174 89.8707 427.661 90.5206C426.159 91.1705 424.417 91.4954 422.436 91.4954C419.687 91.4954 417.445 90.9094 415.708 89.7376C413.972 88.555 412.906 86.8771 412.512 84.7038L417.13 84.0007C417.418 85.2045 418.009 86.1154 418.904 86.7333C419.799 87.3406 420.966 87.6442 422.404 87.6442C423.97 87.6442 425.222 87.3192 426.159 86.6694C427.097 86.0089 427.565 85.2045 427.565 84.2564C427.565 83.4893 427.278 82.8448 426.702 82.3228C426.138 81.8008 425.27 81.4066 424.098 81.1403L419.943 80.2294C417.652 79.7074 415.958 78.8764 414.861 77.7365C413.775 76.5966 413.231 75.1531 413.231 73.4059C413.231 71.957 413.636 70.6893 414.446 69.6026C415.255 68.516 416.374 67.669 417.801 67.0618C419.229 66.4439 420.864 66.1349 422.707 66.1349C425.36 66.1349 427.448 66.7102 428.972 67.8608C430.495 69.0007 431.502 70.5295 431.992 72.4471ZM446.054 91.4954C443.635 91.4954 441.552 90.9787 439.805 89.9453C438.069 88.9013 436.726 87.4364 435.778 85.5508C434.841 83.6545 434.372 81.4332 434.372 78.8871C434.372 76.3729 434.841 74.157 435.778 72.2393C436.726 70.3217 438.047 68.8249 439.741 67.7489C441.446 66.6729 443.438 66.1349 445.718 66.1349C447.103 66.1349 448.445 66.364 449.745 66.8221C451.045 67.2802 452.211 67.9993 453.245 68.9794C454.278 69.9595 455.093 71.2326 455.69 72.7987C456.286 74.354 456.584 76.245 456.584 78.4716V80.1655H437.073V76.5859H451.902C451.902 75.3288 451.647 74.2156 451.135 73.2461C450.624 72.266 449.905 71.4936 448.978 70.929C448.062 70.3643 446.986 70.082 445.75 70.082C444.408 70.082 443.236 70.4123 442.234 71.0728C441.244 71.7227 440.476 72.5749 439.933 73.6296C439.4 74.6736 439.134 75.8082 439.134 77.0334V79.8299C439.134 81.4705 439.422 82.8661 439.997 84.0167C440.583 85.1673 441.398 86.0462 442.442 86.6534C443.486 87.25 444.706 87.5483 446.101 87.5483C447.007 87.5483 447.833 87.4205 448.578 87.1648C449.324 86.8984 449.969 86.5043 450.512 85.9822C451.055 85.4602 451.471 84.8157 451.758 84.0487L456.281 84.8636C455.919 86.1953 455.269 87.3619 454.331 88.3633C453.404 89.354 452.238 90.1264 450.832 90.6804C449.436 91.2237 447.843 91.4954 446.054 91.4954ZM464.414 76.4261V91H459.636V66.4545H464.222V70.4496H464.526C465.09 69.1499 465.975 68.1058 467.178 67.3175C468.393 66.5291 469.922 66.1349 471.765 66.1349C473.437 66.1349 474.902 66.4865 476.159 67.1896C477.416 67.8821 478.391 68.9155 479.084 70.2898C479.776 71.6641 480.122 73.3633 480.122 75.3874V91H475.344V75.9627C475.344 74.1836 474.881 72.7933 473.954 71.7919C473.027 70.7798 471.754 70.2738 470.135 70.2738C469.027 70.2738 468.041 70.5135 467.178 70.9929C466.326 71.4723 465.65 72.1754 465.149 73.1023C464.659 74.0185 464.414 75.1264 464.414 76.4261ZM504.399 66.4545L495.498 91H490.385L481.468 66.4545H486.597L492.814 85.343H493.069L499.27 66.4545H504.399ZM516.144 91.4954C513.843 91.4954 511.835 90.968 510.119 89.9134C508.404 88.8587 507.073 87.3832 506.124 85.4869C505.176 83.5906 504.702 81.3746 504.702 78.8391C504.702 76.293 505.176 74.0664 506.124 72.1594C507.073 70.2525 508.404 68.7717 510.119 67.717C511.835 66.6623 513.843 66.1349 516.144 66.1349C518.445 66.1349 520.453 66.6623 522.168 67.717C523.884 68.7717 525.215 70.2525 526.163 72.1594C527.112 74.0664 527.586 76.293 527.586 78.8391C527.586 81.3746 527.112 83.5906 526.163 85.4869C525.215 87.3832 523.884 88.8587 522.168 89.9134C520.453 90.968 518.445 91.4954 516.144 91.4954ZM516.16 87.4844C517.651 87.4844 518.887 87.0902 519.867 86.3018C520.847 85.5135 521.572 84.4641 522.041 83.1538C522.52 81.8434 522.76 80.3999 522.76 78.8232C522.76 77.2571 522.52 75.8189 522.041 74.5085C521.572 73.1875 520.847 72.1275 519.867 71.3285C518.887 70.5295 517.651 70.13 516.16 70.13C514.658 70.13 513.411 70.5295 512.421 71.3285C511.44 72.1275 510.711 73.1875 510.231 74.5085C509.763 75.8189 509.528 77.2571 509.528 78.8232C509.528 80.3999 509.763 81.8434 510.231 83.1538C510.711 84.4641 511.44 85.5135 512.421 86.3018C513.411 87.0902 514.658 87.4844 516.16 87.4844ZM535.447 58.2727V91H530.669V58.2727H535.447ZM560.623 66.4545L551.722 91H546.608L537.691 66.4545H542.821L549.037 85.343H549.293L555.493 66.4545H560.623ZM562.863 91V66.4545H567.641V91H562.863ZM565.276 62.6673C564.445 62.6673 563.732 62.3903 563.135 61.8363C562.549 61.2717 562.256 60.6005 562.256 59.8228C562.256 59.0344 562.549 58.3633 563.135 57.8093C563.732 57.2447 564.445 56.9624 565.276 56.9624C566.107 56.9624 566.816 57.2447 567.402 57.8093C567.998 58.3633 568.297 59.0344 568.297 59.8228C568.297 60.6005 567.998 61.2717 567.402 61.8363C566.816 62.3903 566.107 62.6673 565.276 62.6673ZM581.008 91.4794C579.026 91.4794 577.258 90.9734 575.703 89.9613C574.158 88.9386 572.943 87.4844 572.059 85.5987C571.186 83.7024 570.749 81.4279 570.749 78.7752C570.749 76.1225 571.191 73.8533 572.075 71.9677C572.97 70.082 574.195 68.6385 575.751 67.6371C577.306 66.6357 579.069 66.1349 581.04 66.1349C582.563 66.1349 583.789 66.3906 584.715 66.902C585.653 67.4027 586.377 67.9886 586.889 68.6598C587.411 69.331 587.816 69.9222 588.103 70.4336H588.391V58.2727H593.169V91H588.503V87.1808H588.103C587.816 87.7028 587.4 88.2994 586.857 88.9705C586.324 89.6417 585.589 90.2276 584.651 90.7283C583.714 91.229 582.499 91.4794 581.008 91.4794ZM582.063 87.4045C583.437 87.4045 584.598 87.0423 585.546 86.3178C586.505 85.5827 587.23 84.5653 587.72 83.2656C588.22 81.9659 588.471 80.4531 588.471 78.7273C588.471 77.0227 588.226 75.5312 587.736 74.2528C587.246 72.9744 586.526 71.9783 585.578 71.2646C584.63 70.5508 583.458 70.1939 582.063 70.1939C580.624 70.1939 579.426 70.5668 578.467 71.3125C577.508 72.0582 576.784 73.0756 576.294 74.3647C575.814 75.6538 575.575 77.108 575.575 78.7273C575.575 80.3679 575.82 81.8434 576.31 83.1538C576.8 84.4641 577.524 85.5028 578.483 86.2699C579.453 87.0263 580.646 87.4045 582.063 87.4045ZM608.078 91.4954C605.776 91.4954 603.768 90.968 602.053 89.9134C600.338 88.8587 599.006 87.3832 598.058 85.4869C597.11 83.5906 596.636 81.3746 596.636 78.8391C596.636 76.293 597.11 74.0664 598.058 72.1594C599.006 70.2525 600.338 68.7717 602.053 67.717C603.768 66.6623 605.776 66.1349 608.078 66.1349C610.379 66.1349 612.387 66.6623 614.102 67.717C615.817 68.7717 617.149 70.2525 618.097 72.1594C619.045 74.0664 619.519 76.293 619.519 78.8391C619.519 81.3746 619.045 83.5906 618.097 85.4869C617.149 87.3832 615.817 88.8587 614.102 89.9134C612.387 90.968 610.379 91.4954 608.078 91.4954ZM608.093 87.4844C609.585 87.4844 610.821 87.0902 611.801 86.3018C612.781 85.5135 613.505 84.4641 613.974 83.1538C614.454 81.8434 614.693 80.3999 614.693 78.8232C614.693 77.2571 614.454 75.8189 613.974 74.5085C613.505 73.1875 612.781 72.1275 611.801 71.3285C610.821 70.5295 609.585 70.13 608.093 70.13C606.591 70.13 605.345 70.5295 604.354 71.3285C603.374 72.1275 602.644 73.1875 602.165 74.5085C601.696 75.8189 601.462 77.2571 601.462 78.8232C601.462 80.3999 601.696 81.8434 602.165 83.1538C602.644 84.4641 603.374 85.5135 604.354 86.3018C605.345 87.0902 606.591 87.4844 608.093 87.4844ZM632.262 100.205V66.4545H636.928V70.4336H637.328C637.604 69.9222 638.004 69.331 638.526 68.6598C639.048 67.9886 639.772 67.4027 640.699 66.902C641.626 66.3906 642.851 66.1349 644.375 66.1349C646.356 66.1349 648.125 66.6357 649.68 67.6371C651.236 68.6385 652.455 70.082 653.34 71.9677C654.234 73.8533 654.682 76.1225 654.682 78.7752C654.682 81.4279 654.24 83.7024 653.356 85.5987C652.471 87.4844 651.257 88.9386 649.712 89.9613C648.167 90.9734 646.404 91.4794 644.423 91.4794C642.931 91.4794 641.711 91.229 640.763 90.7283C639.826 90.2276 639.091 89.6417 638.558 88.9705C638.025 88.2994 637.615 87.7028 637.328 87.1808H637.04V100.205H632.262ZM636.944 78.7273C636.944 80.4531 637.194 81.9659 637.695 83.2656C638.196 84.5653 638.92 85.5827 639.868 86.3178C640.816 87.0423 641.978 87.4045 643.352 87.4045C644.78 87.4045 645.973 87.0263 646.932 86.2699C647.89 85.5028 648.615 84.4641 649.105 83.1538C649.606 81.8434 649.856 80.3679 649.856 78.7273C649.856 77.108 649.611 75.6538 649.121 74.3647C648.641 73.0756 647.917 72.0582 646.948 71.3125C645.989 70.5668 644.79 70.1939 643.352 70.1939C641.967 70.1939 640.795 70.5508 639.836 71.2646C638.888 71.9783 638.169 72.9744 637.679 74.2528C637.189 75.5312 636.944 77.0227 636.944 78.7273ZM668.124 91.4954C665.823 91.4954 663.815 90.968 662.1 89.9134C660.385 88.8587 659.053 87.3832 658.105 85.4869C657.157 83.5906 656.683 81.3746 656.683 78.8391C656.683 76.293 657.157 74.0664 658.105 72.1594C659.053 70.2525 660.385 68.7717 662.1 67.717C663.815 66.6623 665.823 66.1349 668.124 66.1349C670.426 66.1349 672.434 66.6623 674.149 67.717C675.864 68.7717 677.196 70.2525 678.144 72.1594C679.092 74.0664 679.566 76.293 679.566 78.8391C679.566 81.3746 679.092 83.5906 678.144 85.4869C677.196 87.3832 675.864 88.8587 674.149 89.9134C672.434 90.968 670.426 91.4954 668.124 91.4954ZM668.14 87.4844C669.632 87.4844 670.868 87.0902 671.848 86.3018C672.828 85.5135 673.552 84.4641 674.021 83.1538C674.5 81.8434 674.74 80.3999 674.74 78.8232C674.74 77.2571 674.5 75.8189 674.021 74.5085C673.552 73.1875 672.828 72.1275 671.848 71.3285C670.868 70.5295 669.632 70.13 668.14 70.13C666.638 70.13 665.392 70.5295 664.401 71.3285C663.421 72.1275 662.691 73.1875 662.212 74.5085C661.743 75.8189 661.509 77.2571 661.509 78.8232C661.509 80.3999 661.743 81.8434 662.212 83.1538C662.691 84.4641 663.421 85.5135 664.401 86.3018C665.392 87.0902 666.638 87.4844 668.14 87.4844ZM682.65 91V66.4545H687.268V70.3537H687.523C687.971 69.0327 688.759 67.994 689.888 67.2376C691.028 66.4705 692.317 66.087 693.756 66.087C694.054 66.087 694.406 66.0977 694.81 66.119C695.226 66.1403 695.551 66.1669 695.785 66.1989V70.7692C695.593 70.7159 695.252 70.6573 694.762 70.5934C694.272 70.5188 693.782 70.4815 693.292 70.4815C692.163 70.4815 691.156 70.7212 690.272 71.2006C689.398 71.6694 688.706 72.3246 688.195 73.1662C687.683 73.9972 687.428 74.9453 687.428 76.0107V91H682.65Z" fill="black"></path>
              </svg>
            </a>
            <a href="https://perforr.com/" target="_blank" rel="noopener" class="m:inline-block" style="margin-top:24px;">
              <img
                src="https://cdn.shopify.com/s/files/1/0661/4296/1739/files/LOGO-PERFOR-BRANCA.webp"
                alt="Perfor"
                width="115"
                height="38"
                loading="lazy"
                style="display:block;width:115px;height:auto;"
              >
            </a>
            {% comment %} <span class="m-footer__copyright m-footer__copyright--desktop m:mt-2 m:text-center">{{ copyright_text }}</span> {% endcomment %}
          </div>
          <div class="m-footer--bottom-right m:flex-1 xl:m:flex-none m:flex-col xl:m:flex-row m:flex m:flex-wrap m:justify-center xl:m:justify-end m:items-center">
            {% if section.settings.show_currency_selector or section.settings.show_language_selector %}
              <div class="m-footer--currency-language m:display-flex">
                {% liquid
                  if section.settings.show_country_selector
                    render 'country-selector', pos: 'top'
                  endif
                  if section.settings.show_currency_selector
                    render 'currency-switcher', pos: 'top'
                  endif
                  if section.settings.show_language_selector
                    render 'language-switcher', pos: 'top'
                  endif
                %}
              </div>
            {% endif %}
            {% if section.settings.show_social_links %}
              {% render 'social-media-links' %}
            {% endif %}
            <span class="m-footer__copyright m-footer__copyright--mobile m:mt-2 m:text-center">{{ copyright_text }}</span>
            {% if section.settings.show_payment_icons %}
              {% render 'payment-icons', section: section %}
            {% endif %}
            {% if section.settings.footer_bottom_menu != blank %}
              {% assign menu = section.settings.footer_bottom_menu %}
              <ul class="m-footer--bottom-menu m-link-lists m-link-lists--inline xl:m:justify-end{% if section.settings.show_menu_item_divider %} show-menu-item-divider{% endif %}">
                {% for link in linklists[menu].links %}
                  <li class="m-footer--bottom-menu-item m-link-lists--item">
                    <a class="m-link" href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% else %}

      {% endcase %}
    </div>
  </div>
</div>
