{% liquid
  if settings.wishlist_page != blank
    assign url = pages[settings.wishlist_page].url
  else
    assign url = '/pages/wishlist'
  endif

  assign wishlist_app = settings.wishlist_app
%}

{% if wishlist_app == 'growave' %}
  {% if shop.customer_accounts_enabled %}
    {% liquid
      assign ssw_fave_enabled = 1
      if shop.metafields.ssw.fave_enabled
        assign ssw_fave_enabled = shop.metafields.ssw.fave_enabled | plus: 0
      endif
    %}
    {% if ssw_fave_enabled == 1 %}
      <a
        class="ssw-link-fave-menu ssw-link-fave-menu-hide-count"
        href="{{ url }}"
        aria-label="{{ shop.metafields.ssw.lang.my_faves }}"
      >
        <span class="m-tooltip m:block m-tooltip--bottom m-tooltip--style-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17" fill="none" class="m-svg-icon--medium">
            <path d="M2.24 8.28902C1.84461 7.89439 1.53134 7.42465 1.31845 6.90716C1.10556 6.38967 0.997308 5.83478 1 5.27484C1 4.14234 1.44777 3.05622 2.2448 2.25543C3.04183 1.45463 4.12283 1.00475 5.25 1.00475C6.83 1.00475 8.21 1.86881 8.94 3.15486H10.06C10.4311 2.50084 10.9681 1.95732 11.6163 1.57963C12.2645 1.20194 13.0007 1.00358 13.75 1.00475C14.8772 1.00475 15.9582 1.45463 16.7552 2.25543C17.5522 3.05622 18 4.14234 18 5.27484C18 6.45037 17.5 7.53547 16.76 8.28902L9.5 15.5733L2.24 8.28902ZM17.46 9.00237C18.41 8.03784 19 6.73169 19 5.27484C19 3.87587 18.4469 2.5342 17.4623 1.54498C16.4777 0.555756 15.1424 1.81373e-05 13.75 1.81373e-05C12 1.81373e-05 10.45 0.854036 9.5 2.18028C9.0151 1.50359 8.37661 0.952819 7.63748 0.573645C6.89835 0.194472 6.0799 -0.00217454 5.25 1.81373e-05C3.85761 1.81373e-05 2.52226 0.555756 1.53769 1.54498C0.553123 2.5342 0 3.87587 0 5.27484C0 6.73169 0.59 8.03784 1.54 9.00237L9.5 17L17.46 9.00237Z" fill="currentColor"/>
          </svg>
          <span class="m-tooltip__content">{{ 'layout.wishlist.title' | t }}</span>
        </span>
        <span class="ssw-counter-fave-menu m-wishlist-count" style="display:none">0</span>
      </a>
      <script defer>
        var sswFaveCounterMenuLoaded = true;
      </script>
    {% endif %}
  {% endif %}
{% else %}
  <a
    href="{{ url }}"
    class="m-header__wishlist{% if box_size != blank %} {{ box_size }}{% endif %}"
    aria-label="{{ 'layout.wishlist.title' | t }}"
  >
    {% if display_by == 'icon' %}
      <span class="m-tooltip m:block m-tooltip--bottom m-tooltip--style-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17" fill="none" class="m-svg-icon--medium">
          <path d="M2.24 8.28902C1.84461 7.89439 1.53134 7.42465 1.31845 6.90716C1.10556 6.38967 0.997308 5.83478 1 5.27484C1 4.14234 1.44777 3.05622 2.2448 2.25543C3.04183 1.45463 4.12283 1.00475 5.25 1.00475C6.83 1.00475 8.21 1.86881 8.94 3.15486H10.06C10.4311 2.50084 10.9681 1.95732 11.6163 1.57963C12.2645 1.20194 13.0007 1.00358 13.75 1.00475C14.8772 1.00475 15.9582 1.45463 16.7552 2.25543C17.5522 3.05622 18 4.14234 18 5.27484C18 6.45037 17.5 7.53547 16.76 8.28902L9.5 15.5733L2.24 8.28902ZM17.46 9.00237C18.41 8.03784 19 6.73169 19 5.27484C19 3.87587 18.4469 2.5342 17.4623 1.54498C16.4777 0.555756 15.1424 1.81373e-05 13.75 1.81373e-05C12 1.81373e-05 10.45 0.854036 9.5 2.18028C9.0151 1.50359 8.37661 0.952819 7.63748 0.573645C6.89835 0.194472 6.0799 -0.00217454 5.25 1.81373e-05C3.85761 1.81373e-05 2.52226 0.555756 1.53769 1.54498C0.553123 2.5342 0 3.87587 0 5.27484C0 6.73169 0.59 8.03784 1.54 9.00237L9.5 17L17.46 9.00237Z" fill="currentColor"/>
        </svg>
        <span class="m-tooltip__content">{{ 'layout.wishlist.title' | t }}</span>
      </span>
    {% else %}
      {{ 'layout.wishlist.title' | t }}
    {% endif %}
    <sup class="m-wishlist-count m:hidden"></sup>
  </a>
{% endif %}
