{%- liquid
  assign search_display = header_settings.search
  assign main_class = 'm-header__search'

  if icon_left == true
    assign main_class = main_class | append: ' m-search-form--icon-left'
  endif

  if search_display == 'show_full'
    assign main_class = main_class | append: ' m-search-form--full'
  endif

  if box_size != blank
    assign main_class = main_class | append: ' ' | append: box_size
  endif

  assign main_class = main_class | append: ' m:flex m:items-center'
-%}

{% unless search_display == 'hide' %}
  <m-search-popup class="{{ main_class }}" data-open-search-popup>
    {% if icon_left == true %}
      <button
        class="m-search-form__button m:flex m:items-center"
        aria-label="{{ 'general.search.placeholder_short' | t }}"
      >
        <span class="m-tooltip m:block m-tooltip--bottom m-tooltip--style-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none" class="m-svg-icon--medium-small">
            <path d="M16.5 16.5L12.6396 12.6396M12.6396 12.6396C13.2999 11.9793 13.8237 11.1953 14.1811 10.3326C14.5385 9.46978 14.7224 8.54507 14.7224 7.61121C14.7224 6.67735 14.5385 5.75264 14.1811 4.88987C13.8237 4.0271 13.2999 3.24316 12.6396 2.58283C11.9793 1.92249 11.1953 1.39868 10.3326 1.04131C9.46978 0.683937 8.54507 0.5 7.61121 0.5C6.67735 0.5 5.75264 0.683937 4.88987 1.04131C4.0271 1.39868 3.24316 1.92249 2.58283 2.58283C1.24921 3.91644 0.5 5.7252 0.5 7.61121C0.5 9.49722 1.24921 11.306 2.58283 12.6396C3.91644 13.9732 5.7252 14.7224 7.61121 14.7224C9.49722 14.7224 11.306 13.9732 12.6396 12.6396Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span class="m-tooltip__content">{{ 'general.search.placeholder_short' | t }}</span>
        </span>
      </button>
    {% endif %}
    {%- if search_display == 'show_full' -%}
      <span class="m-search-form__label">{{ 'general.search.placeholder' | t }}</span>
    {%- endif -%}
    {% if icon_left == blank or icon_left == false %}
      <button type="submit" class="m-search-form__button" aria-label="{{ 'general.search.placeholder_short' | t }}">
        <span class="m-tooltip m:block m-tooltip--bottom m-tooltip--style-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none" class="m-svg-icon--medium-small">
            <path d="M16.5 16.5L12.6396 12.6396M12.6396 12.6396C13.2999 11.9793 13.8237 11.1953 14.1811 10.3326C14.5385 9.46978 14.7224 8.54507 14.7224 7.61121C14.7224 6.67735 14.5385 5.75264 14.1811 4.88987C13.8237 4.0271 13.2999 3.24316 12.6396 2.58283C11.9793 1.92249 11.1953 1.39868 10.3326 1.04131C9.46978 0.683937 8.54507 0.5 7.61121 0.5C6.67735 0.5 5.75264 0.683937 4.88987 1.04131C4.0271 1.39868 3.24316 1.92249 2.58283 2.58283C1.24921 3.91644 0.5 5.7252 0.5 7.61121C0.5 9.49722 1.24921 11.306 2.58283 12.6396C3.91644 13.9732 5.7252 14.7224 7.61121 14.7224C9.49722 14.7224 11.306 13.9732 12.6396 12.6396Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span class="m-tooltip__content">{{ 'general.search.placeholder_short' | t }}</span>
        </span>
      </button>
    {% endif %}
  </m-search-popup>
{% endunless %}
