{% if shop.customer_accounts_enabled or shop.customer_accounts_optional %}
  {% if display_by == 'icon' %}
    <a
      href="{{ routes.account_url }}"
      class="m-header__account{% if box_size != blank %} {{ box_size }}{% endif %}"
      aria-label="{{ 'layout.customer.account' | t  }}"
    >
      <span class="m-tooltip m:block m-tooltip--bottom m-tooltip--style-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="18" viewBox="0 0 15 18" fill="none" class="m-svg-icon--medium">
          <path d="M0.5 17.5V16.4375C0.5 14.465 1.2375 12.5732 2.55025 11.1784C3.86301 9.78359 5.64348 9 7.5 9M7.5 9C9.35652 9 11.137 9.78359 12.4497 11.1784C13.7625 12.5732 14.5 14.465 14.5 16.4375V17.5M7.5 9C8.56087 9 9.57828 8.55223 10.3284 7.7552C11.0786 6.95817 11.5 5.87717 11.5 4.75C11.5 3.62283 11.0786 2.54183 10.3284 1.7448C9.57828 0.947766 8.56087 0.5 7.5 0.5C6.43913 0.5 5.42172 0.947766 4.67157 1.7448C3.92143 2.54183 3.5 3.62283 3.5 4.75C3.5 5.87717 3.92143 6.95817 4.67157 7.7552C5.42172 8.55223 6.43913 9 7.5 9Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span class="m-tooltip__content">{{ 'layout.customer.account' | t }}</span>
      </span>
    </a>
  {% else %}
    <a
      href="{{ routes.account_url }}"
      class="m-header__account-text{% if box_size != blank %} {{ box_size }}{% endif %}"
      aria-label="{{ 'layout.customer.account' | t  }}"
    >
      {{ 'layout.customer.account' | t }}
    </a>
  {% endif %}
{% endif %}
