<!-- /snippets/product-benefits.liquid -->
{%- liquid
  assign count = 0
  if enable_coupon
    assign count = count | plus: 1
  endif
  if enable_exchange
    assign count = count | plus: 1
  endif
  if enable_installment
    assign count = count | plus: 1
  endif
-%}

{%- if count > 0 -%}
<div class="m-product-benefits m-product-benefits--cols-{{ count }}">
  {%- if enable_coupon -%}
  <!-- Cupom -->
  <div class="m-product-benefits__card m-product-benefits__card--coupon">
    <div class="m-product-benefits__header">
      <span class="m-product-benefits__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <path d="M6.66602 7.50016L11.666 12.5002M17.926 10.9385L16.9218 12.6302C16.6668 13.0602 16.5393 13.2743 16.5327 13.5135C16.5243 13.7702 16.6468 13.9885 16.9218 14.4527C17.2302 14.9727 18.0802 16.006 17.6752 16.6743C17.4268 17.0835 16.7968 17.0835 15.5377 17.0835L6.66602 17.0835C4.30935 17.0835 3.13018 17.0835 2.39852 16.351C1.66602 15.6193 1.66602 14.4402 1.66602 12.0835L1.66602 7.91683C1.66602 5.56016 1.66602 4.381 2.39852 3.64933C3.13018 2.91683 4.30935 2.91683 6.66602 2.91683L15.5377 2.91683C16.7968 2.91683 17.4268 2.91683 17.6752 3.32516C18.0802 3.99433 17.2302 5.02766 16.9218 5.54766C16.6668 5.97683 16.5393 6.19183 16.5327 6.42933C16.5243 6.68766 16.6468 6.906 16.9218 7.36933L17.926 9.061C18.1968 9.51766 18.3327 9.746 18.3327 10.0002C18.3327 10.2543 18.1968 10.4827 17.926 10.9385Z" stroke="#656565" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M11.666 7.5L11.666 7.5075M6.66602 12.4925L6.66602 12.5" stroke="#656565" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>
      <span class="m-product-benefits__title">{{ coupon_title }}</span>
    </div>
    <div class="m-product-benefits__coupon-row">
      <span class="m-product-benefits__coupon-code">{{ coupon_code }}</span>
      <button class="m-product-benefits__copy-btn" data-coupon="{{ coupon_code }}" type="button">
      <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
        <path d="M8.50065 3.32959H4.37565C3.86939 3.32959 3.45898 3.72358 3.45898 4.20959V8.16959C3.45898 8.6556 3.86939 9.04959 4.37565 9.04959H8.50065C9.00691 9.04959 9.41732 8.6556 9.41732 8.16959V4.20959C9.41732 3.72358 9.00691 3.32959 8.50065 3.32959Z" stroke="#656565" stroke-width="0.5"/>
        <path d="M1.625 5.97H1.16667C0.923552 5.97 0.690394 5.87729 0.518485 5.71225C0.346577 5.54722 0.25 5.32339 0.25 5.09V1.13C0.25 0.896609 0.346577 0.672778 0.518485 0.507746C0.690394 0.342714 0.923552 0.25 1.16667 0.25H5.29167C5.53478 0.25 5.76794 0.342714 5.93985 0.507746C6.11176 0.672778 6.20833 0.896609 6.20833 1.13V1.57" stroke="#656565" stroke-width="0.5"/>
      </svg>
        <span>Copiar cupom</span>
      </button>
    </div>
  </div>
  {%- endif -%}

  {%- if enable_exchange -%}
  <!-- Troca -->
  <div class="m-product-benefits__card">
    <div class="m-product-benefits__header">
      <span class="m-product-benefits__icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
        <path d="M10.6875 13.1525C10.1458 13.1558 9.61611 13.0978 9.09833 12.9783C8.58056 12.8589 8.135 12.6122 7.76167 12.2383C7.46222 11.9394 7.23167 11.5978 7.07 11.2133C6.90778 10.8289 6.82667 10.4261 6.82667 10.005C6.82667 9.82333 6.83917 9.65056 6.86417 9.48667C6.88861 9.32222 6.93222 9.15611 6.995 8.98833C7.02944 8.88611 7.02611 8.78639 6.985 8.68917C6.94389 8.59194 6.87889 8.52444 6.79 8.48667C6.69833 8.44944 6.60472 8.45222 6.50917 8.495C6.41361 8.53778 6.34861 8.61056 6.31417 8.71333C6.24472 8.92167 6.19 9.13278 6.15 9.34667C6.11 9.56 6.09 9.77778 6.09 10C6.09 10.5233 6.18944 11.0225 6.38833 11.4975C6.58778 11.9725 6.87111 12.3936 7.23833 12.7608C7.66722 13.2031 8.18056 13.5017 8.77833 13.6567C9.37611 13.8122 9.98306 13.8914 10.5992 13.8942L9.79667 14.6975C9.725 14.7692 9.68639 14.8536 9.68083 14.9508C9.67528 15.0481 9.71389 15.1378 9.79667 15.22C9.87944 15.3022 9.96639 15.3433 10.0575 15.3433C10.1486 15.3433 10.2358 15.3022 10.3192 15.22L11.5883 13.9508C11.7228 13.8158 11.79 13.6586 11.79 13.4792C11.79 13.2997 11.7228 13.1428 11.5883 13.0083L10.3192 11.7392C10.2469 11.6669 10.1625 11.6283 10.0658 11.6233C9.96861 11.6178 9.87889 11.6564 9.79667 11.7392C9.71444 11.8219 9.67333 11.9089 9.67333 12C9.67333 12.0911 9.71444 12.1783 9.79667 12.2617L10.6875 13.1525ZM9.32417 6.84333C9.86583 6.84333 10.3961 6.90278 10.915 7.02167C11.4344 7.14056 11.8811 7.38694 12.255 7.76083C12.5539 8.06028 12.7844 8.40222 12.9467 8.78667C13.1089 9.17111 13.1897 9.57389 13.1892 9.995C13.1892 10.1767 13.1769 10.3494 13.1525 10.5133C13.1281 10.6772 13.0842 10.8431 13.0208 11.0108C12.9869 11.1136 12.9906 11.2144 13.0317 11.3133C13.0728 11.4122 13.1375 11.4803 13.2258 11.5175C13.3181 11.5547 13.4119 11.5547 13.5075 11.5175C13.6031 11.4803 13.6678 11.4103 13.7017 11.3075C13.7711 11.0992 13.8261 10.8847 13.8667 10.6642C13.9067 10.4436 13.9267 10.2222 13.9267 10C13.9267 9.47667 13.8286 8.9775 13.6325 8.5025C13.4364 8.0275 13.1531 7.60472 12.7825 7.23417C12.3503 6.79139 11.8353 6.49361 11.2375 6.34083C10.6403 6.1875 10.0333 6.11083 9.41667 6.11083L10.225 5.3025C10.2928 5.23083 10.3294 5.14639 10.335 5.04917C10.3406 4.95194 10.3022 4.86222 10.22 4.78C10.1378 4.69778 10.0506 4.65694 9.95833 4.6575C9.86611 4.65806 9.77917 4.69889 9.6975 4.78L8.42833 6.05C8.29333 6.185 8.22583 6.34222 8.22583 6.52167C8.22583 6.70111 8.29333 6.85806 8.42833 6.9925L9.6975 8.26167C9.76917 8.33389 9.85361 8.3725 9.95083 8.3775C10.0481 8.3825 10.1378 8.34417 10.22 8.2625C10.3022 8.18083 10.3433 8.09361 10.3433 8.00083C10.3433 7.90806 10.3022 7.82111 10.22 7.74L9.32417 6.84333ZM10 17.5C8.96444 17.5 7.99056 17.3028 7.07833 16.9083C6.16611 16.5133 5.3725 15.9783 4.6975 15.3033C4.02194 14.6278 3.48694 13.8339 3.0925 12.9217C2.6975 12.0094 2.5 11.0356 2.5 10C2.5 8.96444 2.69722 7.99056 3.09167 7.07833C3.48611 6.16611 4.02139 5.3725 4.6975 4.6975C5.37361 4.0225 6.16722 3.48722 7.07833 3.09167C7.99111 2.69722 8.965 2.5 10 2.5C11.035 2.5 12.0089 2.69722 12.9217 3.09167C13.8339 3.48667 14.6275 4.02194 15.3025 4.6975C15.9781 5.3725 16.5131 6.16611 16.9075 7.07833C17.3025 7.99111 17.5 8.965 17.5 10C17.5 11.035 17.3028 12.0089 16.9083 12.9217C16.5133 13.8339 15.9783 14.6275 15.3033 15.3025C14.6278 15.9781 13.8339 16.5131 12.9217 16.9075C12.0094 17.3025 11.0356 17.5 10 17.5ZM10 16.6667C11.8611 16.6667 13.4375 16.0208 14.7292 14.7292C16.0208 13.4375 16.6667 11.8611 16.6667 10C16.6667 8.13889 16.0208 6.5625 14.7292 5.27083C13.4375 3.97917 11.8611 3.33333 10 3.33333C8.13889 3.33333 6.5625 3.97917 5.27083 5.27083C3.97917 6.5625 3.33333 8.13889 3.33333 10C3.33333 11.8611 3.97917 13.4375 5.27083 14.7292C6.5625 16.0208 8.13889 16.6667 10 16.6667Z" fill="#656565"/>
      </svg>
      </span>
      <span class="m-product-benefits__title">{{ exchange_title }}</span>
    </div>
    <p class="m-product-benefits__desc">{{ exchange_desc }}</p>
  </div>
  {%- endif -%}

  {%- if enable_installment -%}
  <!-- Parcelamento -->
  <div class="m-product-benefits__card">
    <div class="m-product-benefits__header">
      <span class="m-product-benefits__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <path d="M1.66602 10.0002C1.66602 6.85766 1.66602 5.286 2.64268 4.31016C3.61935 3.33433 5.19018 3.3335 8.33268 3.3335H11.666C14.8085 3.3335 16.3802 3.3335 17.356 4.31016C18.3318 5.28683 18.3327 6.85766 18.3327 10.0002C18.3327 13.1427 18.3327 14.7143 17.356 15.6902C16.3793 16.666 14.8085 16.6668 11.666 16.6668H8.33268C5.19018 16.6668 3.61852 16.6668 2.64268 15.6902C1.66685 14.7135 1.66602 13.1427 1.66602 10.0002Z" stroke="#656565"/>
          <path d="M8.33268 13.3335H4.99935M11.666 13.3335H10.416M1.66602 8.3335H18.3327" stroke="#656565" stroke-linecap="round"/>
        </svg>
      </span>
      <span class="m-product-benefits__title">{{ installment_title }}</span>
    </div>
    <p class="m-product-benefits__desc">{{ installment_desc }}</p>
  </div>
  {%- endif -%}
</div>

<script>
  document.querySelectorAll('.m-product-benefits__copy-btn').forEach(function(btn) {
    btn.addEventListener('click', function() {
      var coupon = this.getAttribute('data-coupon');
      navigator.clipboard.writeText(coupon).then(function() {
        btn.querySelector('span').textContent = 'Copiado!';
        setTimeout(function() {
          btn.querySelector('span').textContent = 'Copiar cupom';
        }, 2000);
      });
    });
  });
</script>
{%- endif -%}
