{%- liquid
  assign selected_variant = selected_variant | default: product.selected_or_first_available_variant
  if use_variant
    assign target = selected_variant
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999

  if is_product_card and settings.pcard_show_lowest_prices
    assign price = product.price
    assign compare_at_price = product.compare_at_price
  endif

  assign available = target.available | default: false
  assign money_price = price | money
  assign price_min = product.price_min
  assign price_max = product.price_max
  assign money_price_min = price_min | money
  assign money_price_max = price_max | money

  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
    assign money_price_min = price_min | money_with_currency
    assign money_price_max = price_max | money_with_currency
  endif

  assign pix_discount_pct = settings.pix_discount_percentage | default: 0
  assign show_pix_price = false
  if pix_discount_pct > 0 and is_product_page
    assign show_pix_price = true
  endif
  if is_product_card and pix_discount_pct > 0
    assign show_pix_price = true
  endif
  if show_pix_price
    assign pix_multiplier = 100 | minus: pix_discount_pct
    assign display_price = price | times: pix_multiplier | divided_by: 100
    if settings.currency_code_enabled
      assign money_price = display_price | money_with_currency
    else
      assign money_price = display_price | money
    endif
  endif

  if target == product and product.price_varies and settings.pcard_show_lowest_prices
    assign money_price = 'products.product.from_text_html' | t: price: money_price
  endif

  assign sale_badge_type = sale_badge_type | default: 'percentage'

  assign is_product_card_style_6 = false
  if card_style == '6'
    assign is_product_card_style_6 = true
  endif
-%}

<div
  class="
    m-price m:inline-flex m:items-center m:flex-wrap
    {%- if alignment %} m-price--{{ alignment }}{% endif -%}
    {%- if price_class %} {{ price_class }}{% endif -%}
    {%- if available == false %} m-price--sold-out {% endif -%}
    {%- if compare_at_price > price %} m-price--on-sale {% endif -%}
    {%- if target.price_varies == false and target.compare_at_price_varies %} m-price--no-compare{% endif -%}
  "
  data-sale-badge-type="{{ sale_badge_type }}"
>
  <div class="m-price__regular">
    {%- if product.quantity_price_breaks_configured? -%}
      <span class="m:visually-hidden m:visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
      <span class="m-price-item m-price-item--regular {{ price_text_size }}">
        {%- render 'new-locale',
          key: 'products.product.volume_pricing.price_range_html',
          param: '{{ minimum }}',
          value: money_price_min,
          param_2: '{{ maximum }}',
          value_2: money_price_max
        -%}
      </span>
    {%- else -%}
      <span class="m:visually-hidden m:visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
      <span class="m-price-item m-price-item--regular {{ price_text_size }}">
        {{ money_price }}
      </span>
      {%- if show_pix_price -%}
        <span class="m-price__pix-wrap m:inline-flex m:items-baseline m:gap-0.5 m:ml-1" aria-hidden="true">
          <span class="m-price__pix-label m:font-bold">no Pix</span>
          <svg class="m-price__pix-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" aria-hidden="true"><path fill="#32bcad" d="M242.4 292.5c5.4-5.4 14.7-5.4 20.1 0l77 77c14.2 14.2 33.1 22 53.1 22l15.1 0-97.1 97.1c-30.3 29.5-79.5 29.5-109.8 0l-97.5-97.4 9.3 0c20 0 38.9-7.8 53.1-22l76.7-76.7zm20.1-73.6c-6.4 5.5-14.6 5.6-20.1 0l-76.7-76.7c-14.2-15.1-33.1-22-53.1-22l-9.3 0 97.4-97.4c30.4-30.3 79.6-30.3 109.9 0l97.2 97.1-15.2 0c-20 0-38.9 7.8-53.1 22l-77 77zM112.6 142.7c13.8 0 26.5 5.6 37.1 15.4l76.7 76.7c7.2 6.3 16.6 10.8 26.1 10.8 9.4 0 18.8-4.5 26-10.8l77-77c9.8-9.7 23.3-15.3 37.1-15.3l37.7 0 58.3 58.3c30.3 30.3 30.3 79.5 0 109.8l-58.3 58.3-37.7 0c-13.8 0-27.3-5.6-37.1-15.4l-77-77c-13.9-13.9-38.2-13.9-52.1 .1l-76.7 76.6c-10.6 9.8-23.3 15.4-37.1 15.4l-31.8 0-58-58c-30.3-30.3-30.3-79.5 0-109.8l58-58.1 31.8 0z"/></svg>
        </span>
      {%- endif -%}
    {%- endif -%}
  </div>
  <div class="m-price__sale">
    <span class="m:visually-hidden m:visually-hidden--inline">{{ 'products.product.price.sale_price' | t }}</span>
    <span class="m-price-item m-price-item--sale m-price-item--last {{ price_text_size }}">
      {{ money_price }}
    </span>
    {%- if show_pix_price -%}
      <span class="m-price__pix-wrap m:inline-flex m:items-baseline m:gap-0.5 m:ml-1" aria-hidden="true">
        <span class="m-price__pix-label m:font-bold">no Pix</span>
        <svg class="m-price__pix-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" aria-hidden="true"><path fill="#32bcad" d="M242.4 292.5c5.4-5.4 14.7-5.4 20.1 0l77 77c14.2 14.2 33.1 22 53.1 22l15.1 0-97.1 97.1c-30.3 29.5-79.5 29.5-109.8 0l-97.5-97.4 9.3 0c20 0 38.9-7.8 53.1-22l76.7-76.7zm20.1-73.6c-6.4 5.5-14.6 5.6-20.1 0l-76.7-76.7c-14.2-15.1-33.1-22-53.1-22l-9.3 0 97.4-97.4c30.4-30.3 79.6-30.3 109.9 0l97.2 97.1-15.2 0c-20 0-38.9 7.8-53.1 22l-77 77zM112.6 142.7c13.8 0 26.5 5.6 37.1 15.4l76.7 76.7c7.2 6.3 16.6 10.8 26.1 10.8 9.4 0 18.8-4.5 26-10.8l77-77c9.8-9.7 23.3-15.3 37.1-15.3l37.7 0 58.3 58.3c30.3 30.3 30.3 79.5 0 109.8l-58.3 58.3-37.7 0c-13.8 0-27.3-5.6-37.1-15.4l-77-77c-13.9-13.9-38.2-13.9-52.1 .1l-76.7 76.6c-10.6 9.8-23.3 15.4-37.1 15.4l-31.8 0-58-58c-30.3-30.3-30.3-79.5 0-109.8l58-58.1 31.8 0z"/></svg>
      </span>
    {%- endif -%}
    {%- unless target.price_varies == false and target.compare_at_price_varies %}
      <span class="m:visually-hidden m:visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
      <s class="m-price-item m-price-item--regular">
        {% if settings.currency_code_enabled %}
          {{ compare_at_price | money_with_currency }}
        {% else %}
          {{ compare_at_price | money }}
        {% endif %}
      </s>
    {%- endunless -%}
  </div>
  <div class="m-price__unit-wrapper{% if selected_variant.unit_price_measurement == nil %} m:hidden{% endif %}">
    <span class="m:visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
    <div class="m-price__unit">
      {%- capture unit_price_separator -%}
        <span aria-hidden="true">/</span>
      {%- endcapture -%}
      {%- capture unit_price_base_unit -%}
        <span data-unit-price-base-unit>
          {%- if selected_variant.unit_price_measurement -%}
            {%- if selected_variant.unit_price_measurement.reference_value != 1 -%}
              {{- selected_variant.unit_price_measurement.reference_value -}}
            {%- endif -%}
            {{ selected_variant.unit_price_measurement.reference_unit }}
          {%- endif -%}
        </span>
      {%- endcapture -%}
      <span data-unit-price>{{ selected_variant.unit_price | money }}</span>
      {{- unit_price_separator -}}
      {{- unit_price_base_unit -}}
    </div>
  </div>

  {% if show_sale_badge %}
    <div class="m-price__badges">
      {% liquid
        assign save_amount = 0
        if compare_at_price > price
          assign save_amount = compare_at_price | minus: price
        endif

        assign discount = ''
        if sale_badge_type == 'percentage'
          assign discount = save_amount | times: 100.0 | divided_by: compare_at_price | round | append: '%'
        elsif sale_badge_type == 'fixed_amount'
          if settings.currency_code_enabled
            assign discount = save_amount | money_with_currency
          else
            assign discount = save_amount | money
          endif
        endif
      %}
      <div class="m-price__badge-sale" data-type="{{ sale_badge_type }}">
        <span class="m-product-tag m-product-tag--sale m-gradient m-color-{{ settings.sale_badge_color_scheme }}">
          {% unless sale_badge_type == 'text' %}
            {% render 'new-locale', key: 'products.product.save_html', param: '{{ amount }}', value: discount %}
          {% else %}
            {% render 'new-locale', key: 'products.product.sale_text' %}
          {% endunless %}
        </span>
      </div>
    </div>
  {% endif %}
</div>

{%- if settings.show_installments == true %}
  {%- liquid
    if settings.taxa_parcela == '0' or settings.taxa_parcela == '0.0'
      assign juros = 1.0
      assign juros_text = ' sem juros'
    else
      assign taxa_decimal = settings.taxa_parcela | divided_by: 100.0
      assign juros = taxa_decimal | plus: 1.0
      assign juros_text = ''
    endif
    assign installment_price = price | times: juros | divided_by: settings.modo_parcelamento | round: 2 | money
  -%}
  {%- if is_product_page -%}
    <p class="installments installments--product-page">em até {{ settings.modo_parcelamento }}x{{ juros_text }} de {{ installment_price }}</p>
  {%- else -%}
    <p class="installments installments--card m:text-sm md:m:text-sm">ou {{ settings.modo_parcelamento }}x de {{ installment_price }}{%comment%}{{ juros_text }}{%endcomment%}</p>
  {%- endif -%}
{% endif %}
