{{ 'product.css' | asset_url | stylesheet_tag }}
{% if section.settings.show_zoom_button %}
  {{ 'photoswipe.css' | asset_url | stylesheet_tag }}
  {{ 'component-photoswipe.css' | asset_url | stylesheet_tag }}
{% endif %}

{%- if product.quantity_price_breaks_configured? -%}
  {{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'show-more.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- liquid
  assign container = section.settings.container
  assign layout = section.settings.layout
  if container == 'w-full'
    assign container = 'container-full'
  endif
  if layout == 'layout-7'
    assign container = 'container-full'
  endif
  assign first_3d_model = product.media | where: 'media_type', 'model' | first

  comment
    Aspect ratio settings for media
  endcomment
  assign media_ratio_desktop = section.settings.media_aspect_ratio_desktop
  assign media_ratio_mobile = section.settings.media_aspect_ratio_mobile

  if media_ratio_desktop == 'inherit'
    assign media_ratio_desktop = settings.pcard_image_ratio
  endif
  if media_ratio_mobile == 'inherit'
    assign media_ratio_mobile = settings.pcard_image_ratio
  endif

  assign animation_effect = settings.animations
  assign animated = false
  if animation_effect != 'none'
    assign animated = true
  endif

  assign enable_variant_group_img = false
  if section.settings.enable_variant_group_images and product.metafields['foxecom-bs-kit']['variant-images'].value.enable
    assign enable_variant_group_img = true
  endif

  assign disable_selected_variant_default = section.settings.disable_selected_variant_default
  assign force_size_selection = section.settings.force_size_selection
  assign disable_url_variant_preselect = section.settings.disable_url_variant_preselect

  if product.has_only_default_variant
    assign enable_variant_group_img = false
    assign disable_selected_variant_default = false
    assign force_size_selection = false
    assign disable_url_variant_preselect = false
  endif

  unless product.available
    assign force_size_selection = false
  endunless

  if disable_selected_variant_default
    assign force_size_selection = false
  endif
-%}

{%- if first_3d_model -%}
  <link
    id="ModelViewerStyle"
    rel="stylesheet"
    href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
    media="print"
    onload="this.media='all'"
  >
{%- endif -%}

{%- comment -%} Media aspect ratio styles {%- endcomment -%}
{%- if media_ratio_mobile != 'original' or media_ratio_desktop != 'original' -%}
  <style>
    {%- if media_ratio_mobile != 'original' -%}
      @media (max-width: 767px) {
        #MainProduct-{{ section.id }} .m-product-media .m-image,
        #MainProduct-{{ section.id }} .m-product-media--video .deferred-media,
        #MainProduct-{{ section.id }} .m-product-media--external_video .deferred-media {
          --aspect-ratio: {{ media_ratio_mobile }} !important;
          aspect-ratio: {{ media_ratio_mobile }};
        }
        #MainProduct-{{ section.id }} .m-product-media .m-image img,
        #MainProduct-{{ section.id }} .m-product-media--video .deferred-media img,
        #MainProduct-{{ section.id }} .m-product-media--external_video .deferred-media img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
        #MainProduct-{{ section.id }} .m-product-media--video .deferred-media,
        #MainProduct-{{ section.id }} .m-product-media--external_video .deferred-media {
          padding-top: 0 !important;
        }
      }
    {%- endif -%}
    {%- if media_ratio_desktop != 'original' -%}
      @media (min-width: 768px) {
        #MainProduct-{{ section.id }} .m-product-media .m-image,
        #MainProduct-{{ section.id }} .m-product-media--video .deferred-media,
        #MainProduct-{{ section.id }} .m-product-media--external_video .deferred-media {
          --aspect-ratio: {{ media_ratio_desktop }} !important;
          aspect-ratio: {{ media_ratio_desktop }};
        }
        #MainProduct-{{ section.id }} .m-product-media .m-image img,
        #MainProduct-{{ section.id }} .m-product-media--video .deferred-media img,
        #MainProduct-{{ section.id }} .m-product-media--external_video .deferred-media img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
        #MainProduct-{{ section.id }} .m-product-media--video .deferred-media,
        #MainProduct-{{ section.id }} .m-product-media--external_video .deferred-media {
          padding-top: 0 !important;
        }
      }
    {%- endif -%}
  </style>
{%- endif -%}
<style>
  #MainProduct-{{ section.id }} .option-label--error {
    color: rgb(var(--color-error));
    margin-left: 6px;
    font-weight: 500;
  }
</style>
{%- capture variant_option_none_text -%}
  {%- render 'new-locale', key: 'products.product.choose_an_option' -%}
{%- endcapture -%}
{%- capture select_size_prompt_text -%}
  {%- render 'new-locale', key: 'products.product.select_size_prompt' -%}
{%- endcapture -%}
<product-info
  id="MainProduct-{{ section.id }}"
  data-section-type="product-page"
  data-section-id="{{ section.id }}"
  data-layout="{{ layout }}"
  data-product-handle="{{ product.handle }}"
  data-url="{{ product.url }}"
  data-update-url="true"
  data-enable-history-state="{{ section.settings.enable_history_state }}"
  data-product-id="{{ product.id }}"
  data-container="{{ container }}"
  data-enable-variant-group-images="{{ enable_variant_group_img }}"
  data-disable-selected-variant-default="{{ disable_selected_variant_default }}"
  data-force-size-selection="{{ force_size_selection }}"
  data-disable-url-variant-preselect="{{ disable_url_variant_preselect }}"
  data-select-size-prompt-text="{{ select_size_prompt_text | strip }}"
  data-variant-option-none-text="{{ variant_option_none_text }}"
  data-show-featured-media="{{ section.settings.show_featured_media }}"
  class="m-main-product m-gradient m-color-{{ settings.default_color_scheme }} m:block"
>
  <div class="{{ container }}">
    {% liquid
      assign media_class = 'm:w-full md:m:w-1/2'
      assign info_class = 'm:w-full md:m:w-1/2'
      assign wrapper_class = 'm:flex m:flex-wrap'
      case layout
        when 'layout-2'
          assign media_class = 'm:w-full md:m:w-8/12'
          assign info_class = 'm:w-full md:m:w-4/12'
          assign column_gap = '70px'
        when 'layout-3'
          assign media_class = 'm-layout3-media'
          assign info_class = 'm-layout3-info'
          assign column_gap = '70px'
        when 'layout-5'
          assign media_class = 'm:w-full md:m:w-8/12'
          assign info_class = 'm:w-full md:m:w-4/12 '
          assign column_gap = '70px'
        when 'layout-7'
          assign media_class = 'm:w-full'
          if product.media.size == 1
            assign media_class = 'container-narrow'
          endif
          assign info_class = 'container-narrow md:m:text-center'
          assign wrapper_class = 'm:flex m:flex-wrap md:m:block m-product-media--layout-7'
        else
          assign column_gap = '50px'
      endcase
    %}
    <div
      class="m-main-product--wrapper {{ wrapper_class }} "
      style="--column-gap: {{ column_gap }}; --column-gap-mobile: 20px;"
    >
      <product-recently-viewed data-product-id="{{ product.id }}" class="m:hidden"></product-recently-viewed>
      <div class="m-main-product--media m:column {{ media_class }}">
        {%- capture product_tags_html -%}
          {% render 'product-tags', product: product %}
        {%- endcapture -%}
        {% if product_tags_html != blank %}
          <div class="m-main-product--tags">
            {{ product_tags_html }}
          </div>
        {% endif %}
        <div class="m-product-media--desktop m-product-media--wrapper m-product-media--{{ section.settings.layout }} m:justify-end">
          {% render 'product-media',
            section: section,
            template_product: true,
            show_thumbnails_mobile: section.settings.show_nav_media_mobile,
            show_pagination_mobile: section.settings.show_pagination_mobile,
            enable_mobile_photo_preview: section.settings.enable_mobile_photo_preview,
            compact_thumbnails_mobile: section.settings.compact_thumbnails_mobile,
            compact_thumbnails_desktop: section.settings.compact_thumbnails_desktop
          %}

          {% if section.settings.show_atwl %}
            {%- liquid
              assign wishlist_app = settings.wishlist_app
            -%}
            {% if wishlist_app == 'growave' %}
              {% comment %}theme-check-disable MissingTemplate{% endcomment %}
              {% capture the_snippet_fave_icon %}{% render 'ssw-widget-faveicon' with product.id %}{% endcapture %}
              {% comment %}theme-check-enable MissingTemplate{% endcomment %}
              <div class="m-product-media--mobile__atwl-button{% unless section.settings.atwl_on_media_desktop %} md:m:hidden{% endunless %}{% if section.settings.atwl_on_media_desktop %} m-product-media--atwl-on-media{% endif %}">
                {% unless the_snippet_fave_icon contains 'Liquid error' %}
                  {{ the_snippet_fave_icon }}
                {% else %}
                  {% render 'mm-ssw-widget-faveicon' with product.id %}
                {% endunless %}
              </div>
            {% else %}
              {%- liquid
                assign tooltip_class = 'm-tooltip--top m-product-media--mobile__atwl-button'
                unless section.settings.atwl_on_media_desktop
                  assign tooltip_class = tooltip_class | append: ' !md:m:hidden'
                endunless
                if section.settings.atwl_on_media_desktop
                  assign tooltip_class = tooltip_class | append: ' m-product-media--atwl-on-media'
                endif
              -%}
              {% render 'tooltip',
                type: 'wishlist',
                product: product,
                class_name: tooltip_class,
                style: 2
              %}
            {% endif %}
          {% endif %}
          {% if section.settings.show_share_on_media %}
            <div class="m-product-media--share-button">
              <m-sharing class="m-product-media--share-wrapper">
                <button
                  class="m-tooltip m-button--icon m-tooltip--top m-tooltip--style-1"
                  type="button"
                  data-open-share
                  aria-label="{{ 'products.product.social_share' | t }}"
                >
                  <span class="m-tooltip-icon m:block">
                    <svg class="m-svg-icon--medium" width="14" height="16" fill="none" viewBox="0 0 14 16">
                      <path fill="currentColor" d="M11 10c.8333 0 1.5417.2917 2.125.875.5833.5833.875 1.2917.875 2.125 0 .8333-.2917 1.5417-.875 2.125-.5833.5833-1.2917.875-2.125.875-.8333 0-1.54167-.2917-2.125-.875C8.29167 14.5417 8 13.8333 8 13c0-.3125.04167-.6146.125-.9062l-3.0625-1.9063C4.47917 10.7292 3.79167 11 3 11c-.83333 0-1.54167-.2917-2.125-.875C.291667 9.54167 0 8.83333 0 8c0-.83333.291667-1.54167.875-2.125C1.45833 5.29167 2.16667 5 3 5c.79167 0 1.47917.27083 2.0625.8125L8.125 3.90625C8.04167 3.61458 8 3.3125 8 3c0-.83333.29167-1.54167.875-2.125C9.45833.291667 10.1667 0 11 0c.8333 0 1.5417.291667 2.125.875C13.7083 1.45833 14 2.16667 14 3c0 .83333-.2917 1.54167-.875 2.125C12.5417 5.70833 11.8333 6 11 6c-.7917 0-1.47917-.27083-2.0625-.8125L5.875 7.09375c.1875.60417.1875 1.20833 0 1.8125l3.0625 1.90625C9.52083 10.2708 10.2083 10 11 10zm1.0625-8.0625C11.7708 1.64583 11.4167 1.5 11 1.5c-.4167 0-.7708.14583-1.0625.4375C9.64583 2.22917 9.5 2.58333 9.5 3s.14583.77083.4375 1.0625c.2917.29167.6458.4375 1.0625.4375.4167 0 .7708-.14583 1.0625-.4375.2917-.29167.4375-.64583.4375-1.0625s-.1458-.77083-.4375-1.0625zm-10.125 7.125C2.22917 9.35417 2.58333 9.5 3 9.5s.77083-.14583 1.0625-.4375S4.5 8.41667 4.5 8s-.14583-.77083-.4375-1.0625S3.41667 6.5 3 6.5s-.77083.14583-1.0625.4375S1.5 7.58333 1.5 8s.14583.77083.4375 1.0625zm8 5c.2917.2917.6458.4375 1.0625.4375.4167 0 .7708-.1458 1.0625-.4375.2917-.2917.4375-.6458.4375-1.0625 0-.4167-.1458-.7708-.4375-1.0625-.2917-.2917-.6458-.4375-1.0625-.4375-.4167 0-.7708.1458-1.0625.4375C9.64583 12.2292 9.5 12.5833 9.5 13c0 .4167.14583.7708.4375 1.0625z"/>
                    </svg>
                  </span>
                  <span class="m-tooltip__content">{{ 'products.product.social_share' | t }}</span>
                </button>
                <div class="m-product-addon--sharing m:hidden">
                  <div
                    class="m-product-addon--sharing__copy-link"
                    data-color-scheme="m-color-{{ settings.drawer_popup_color_scheme }}"
                  >
                    <label>{{ 'products.product.copy_link' | t }}</label>
                    <input
                      class="form-field form-field--input"
                      type="text"
                      value="{{ shop.secure_url }}/products/{{ product.handle }}"
                    >
                  </div>
                  {% assign url = shop.url | append: product.url %}
                  {% render 'social-sharing', url: url %}
                </div>
              </m-sharing>
              <script src="{{ 'sharing.js' | asset_url }}" defer="defer"></script>
            </div>
          {% endif %}
          {%- if first_3d_model -%}
            <div class="m-product-media__xr-button md:m:hidden">
              <button
                class="m-xr-button m:w-full m:flex m:items-center m:justify-center"
                type="button"
                aria-label="{%- render 'new-locale', key: 'products.product.xr_button_label' -%}"
                data-shopify-xr
                data-shopify-model3d-id="{{ first_3d_model.id }}"
                data-shopify-title="title"
                data-shopify-xr-hidden
              >
                <svg
                  class="m-svg-icon"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  viewBox="0 0 18 21"
                >
                  <path d="M7.67998 20.629L1.28002 16.723C0.886205 16.4784 0.561675 16.1368 0.337572 15.731C0.113468 15.3251 -0.00274623 14.8686 -1.39464e-05 14.405V6.59497C-0.00238367 6.13167 0.113819 5.6755 0.33751 5.26978C0.561202 4.86405 0.884959 4.52227 1.278 4.27698L7.67796 0.377014C8.07524 0.131403 8.53292 0.000877102 8.99999 9.73346e-08C9.46678 -0.000129605 9.92446 0.129369 10.322 0.374024V0.374024L16.722 4.27399C17.1163 4.51985 17.4409 4.86287 17.6647 5.27014C17.8885 5.67742 18.0039 6.13529 18 6.59998V14.409C18.0026 14.8725 17.8864 15.3289 17.6625 15.7347C17.4386 16.1405 17.1145 16.4821 16.721 16.727L10.321 20.633C9.92264 20.8742 9.46565 21.0012 8.99999 21C8.53428 20.9998 8.07761 20.8714 7.67998 20.629V20.629ZM8.72398 2.078L2.32396 5.97803C2.22303 6.04453 2.14066 6.13551 2.08452 6.24255C2.02838 6.34959 2.00031 6.46919 2.00298 6.59003V14.4C2.00026 14.5205 2.02818 14.6396 2.08415 14.7463C2.14013 14.853 2.22233 14.9438 2.32298 15.01L7.99999 18.48V10.919C8.00113 10.5997 8.08851 10.2867 8.25292 10.0129C8.41732 9.73922 8.65267 9.51501 8.93401 9.36401L15.446 5.841L9.28001 2.08002C9.19614 2.02738 9.09901 1.99962 8.99999 2C8.90251 1.99972 8.8069 2.02674 8.72398 2.078V2.078Z" fill="currentColor"></path>
                </svg>
                <span class="m-xr-button--label">{%- render 'new-locale', key: 'products.product.xr_button' -%}</span>
              </button>
            </div>
          {%- endif -%}
        </div>
      </div>
      <div class="m-main-product--info m:column {{ info_class }}{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">
        <div class="m-product-info--wrapper m:text-color-body">
          {% render 'main-product-blocks', section: section, product: product %}
        </div>
      </div>
    </div>
  </div>

  {% if section.settings.use_sticky_atc or section.settings.use_sticky_atc_on_mobile %}
    {% render 'sticky-atc', section: section, product: product, first_3d_model: first_3d_model %}
  {% endif %}

  {%- if enable_variant_group_img -%}
    <script id="variantGroup" type="application/json">
      {{ product.metafields.foxecom-bs-kit.variant-images.value | json }}
    </script>
  {%- endif -%}
</product-info>
{%- if section.settings.show_zoom_button -%}
  <script src="{{ 'photoswipe.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{% if product.media.size > 0 %}
  <script src="{{ 'product-media.js' | asset_url }}" defer="defer"></script>
{% endif %}
{%- if first_3d_model -%}
  <script type="application/json" id="ModelJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
  <script src="{{ 'product-model.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{%- if product.options_with_values.size > 0 -%}
  <script src="{{ 'variant-picker.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>

{%- render 'product-data' -%}

{% schema %}
{
  "name": "Product information",
  "settings": [
    {
      "type": "paragraph",
      "content": "[Watch tutorial](https://foxecom.link/olxmn9) or [read How-to](https://foxecom.link/QlS05K)"
    },
    {
      "type": "paragraph",
      "content": "Need more advanced customization? Use [Teeinblue Product Personalizer](https://teeinblue.com/install/teeinblue?ref=foxecom) app"
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Container type",
      "default": "container",
      "options": [
        {
          "value": "container-fluid",
          "label": "Default"
        },
        {
          "value": "w-full",
          "label": "Full width"
        },
        {
          "value": "container",
          "label": "Use container box"
        }
      ]
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "layout-6",
      "options": [
        {
          "value": "layout-4",
          "label": "Standard"
        },
        {
          "value": "layout-1",
          "label": "Grid 1 column"
        },
        {
          "value": "layout-3",
          "label": "Grid 2 columns"
        },
        {
          "value": "layout-2",
          "label": "Grid mix"
        },
        {
          "value": "layout-5",
          "label": "Slider 2 columns"
        },
        {
          "value": "layout-6",
          "label": "Slider vertical"
        },
        {
          "value": "layout-7",
          "label": "Slider full width"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_nav_media_desktop",
      "label": "Show thumbnails on desktop",
      "default": false,
      "visible_if": "{{ section.settings.layout == 'layout-5' }}"
    },
    {
      "type": "checkbox",
      "id": "compact_thumbnails_desktop",
      "label": "Compact thumbnails on desktop",
      "default": false,
    },
    {
      "type": "checkbox",
      "id": "show_atwl",
      "label": "Show Add to wishlist",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "atwl_on_media_desktop",
      "label": "Show wishlist button on media (desktop)",
      "info": "When enabled, the wishlist button will appear on the top left of the product media instead of next to the title",
      "default": false,
      "visible_if": "{{ section.settings.show_atwl == true }}"
    },
    {
      "type": "checkbox",
      "id": "show_share_on_media",
      "label": "Show share button on media",
      "info": "Display a share button on the product media. Appears below wishlist if both are enabled",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_history_state",
      "label": "Enable history state",
      "info": "This will add a '?variant={variant_id}' to the browser's URL",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_variant_group_images",
      "label": "Enable variant group images",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_selected_variant_default",
      "label": "Disable selected variant by default",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "force_size_selection",
      "label": "Force manual size selection",
      "info": "Customer must manually pick a size. Color (and other non-size options) stay pre-selected on the first available value.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_url_variant_preselect",
      "label": "Disable variant pre-selection via URL",
      "info": "When enabled, the '?variant=' URL parameter will not pre-select the size option.",
      "default": false
    },
    {
      "type": "header",
      "content": "Product media"
    },
    {
      "type": "select",
      "id": "media_aspect_ratio_desktop",
      "label": "Image aspect ratio (Desktop)",
      "default": "original",
      "options": [
        {
          "value": "original",
          "label": "Original aspect ratio"
        },
        {
          "value": "inherit",
          "label": "Inherit from product card settings"
        },
        {
          "value": "1/1",
          "label": "1:1"
        },
        {
          "value": "2/3",
          "label": "2:3"
        },
        {
          "value": "3/4",
          "label": "3:4"
        },
        {
          "value": "4/3",
          "label": "4:3"
        },
        {
          "value": "16/9",
          "label": "16:9"
        }
      ]
    },
    {
      "type": "select",
      "id": "media_aspect_ratio_mobile",
      "label": "Image aspect ratio (Mobile)",
      "default": "original",
      "options": [
        {
          "value": "original",
          "label": "Original aspect ratio"
        },
        {
          "value": "inherit",
          "label": "Inherit from product card settings"
        },
        {
          "value": "1/1",
          "label": "1:1"
        },
        {
          "value": "2/3",
          "label": "2:3"
        },
        {
          "value": "3/4",
          "label": "3:4"
        },
        {
          "value": "4/3",
          "label": "4:3"
        },
        {
          "value": "16/9",
          "label": "16:9"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_featured_media",
      "label": "Show featured media by default",
      "default": true,
      "info": "If unchecked, the selected variant's image will be show on page load."
    },
    {
      "type": "checkbox",
      "id": "show_zoom_button",
      "label": "Enable image zoom",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_video_autoplay",
      "label": "Enable video autoplay",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_nav_media_mobile",
      "label": "Show thumbnails on mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "compact_thumbnails_mobile",
      "label": "Compact thumbnails on mobile",
      "default": false,
      "visible_if": "{{ section.settings.show_nav_media_mobile }}"
    },
    {
      "type": "checkbox",
      "id": "show_pagination_mobile",
      "label": "Show pagination on mobile",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_mobile_photo_preview",
      "label": "Show next photo preview on mobile",
      "default": false,
      "info": "When enabled, a portion of the next photo will be visible on mobile devices"
    },
    {
      "type": "header",
      "content": "Sticky Add to cart"
    },
    {
      "type": "checkbox",
      "id": "use_sticky_atc",
      "label": "Show on desktop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "use_sticky_atc_on_mobile",
      "label": "Show on mobile",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_dynamic_checkout",
      "label": "Show dynamic checkout buttons",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "sticky_atc_wishtlist",
      "label": "Show wishlist button",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "sticky_atc_compare",
      "label": "Show compare button",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "Product title",
      "limit": 1
    },
    {
      "type": "rating",
      "name": "Product rating",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To display a rating, add a product reviews app.\nGo to Theme settings -> Integrated apps -> Product reviews to choose the app which you are using."
        }
      ]
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_saving",
          "default": false,
          "label": "Show saving amount"
        },
        {
          "type": "select",
          "label": "Type",
          "id": "sale_badge_type",
          "default": "percentage",
          "options": [
            {
              "label": "Percentage",
              "value": "percentage"
            },
            {
              "label": "Text",
              "value": "text"
            },
            {
              "label": "Fixed amount",
              "value": "fixed_amount"
            }
          ]
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "Variants selector",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "[Watch tutorial](https://foxecom.link/bqhGMd) or [read How-to](https://foxecom.link/F7UNEx)"
        },
        {
          "type": "checkbox",
          "id": "button_style_rectangular",
          "label": "Use rectangular button style",
          "info": "When enabled, variant buttons will have a rectangular style with distinct borders instead of the default pill style",
          "default": false
        },
        {
          "type": "header",
          "content": "Size guide settings"
        },
        {
          "type": "text",
          "id": "size_title",
          "default": "Size",
          "label": "Size option title",
          "info": "Enter the option titles which you want to show Size guide button, separate with a comma"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_quantity_selector",
          "default": true,
          "label": "Show quantity selector"
        },
        {
          "type": "checkbox",
          "id": "hide_quantity_label",
          "default": true,
          "label": "Hide quantity label",
          "visible_if": "{{ block.settings.show_quantity_selector }}"
        },
        {
          "type": "checkbox",
          "id": "quantity_and_cart_same_line",
          "default": true,
          "label": "Quantity and cart button on same line",
          "visible_if": "{{ block.settings.show_quantity_selector }}"
        },
        {
          "type": "select",
          "id": "quantity_color_style",
          "label": "Quantity selector color",
          "default": "normal",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "button",
              "label": "Button color"
            }
          ],
          "visible_if": "{{ block.settings.show_quantity_selector }}"
        },
        {
          "type": "range",
          "id": "button_height_desktop",
          "label": "Button height (desktop)",
          "min": 40,
          "max": 80,
          "step": 1,
          "default": 43,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "button_height_mobile",
          "label": "Button height (mobile)",
          "min": 40,
          "max": 80,
          "step": 1,
          "default": 43,
          "unit": "px"
        },
        {
          "type": "checkbox",
          "id": "show_atc_button",
          "default": true,
          "label": "Show Add-to-cart button"
        },
        {
          "type": "checkbox",
          "id": "atc_custom_color",
          "default": false,
          "label": "Custom Add-to-cart button color"
        },
        {
          "type": "color",
          "id": "atc_bg_color",
          "label": "Button background",
          "default": "#000000",
          "visible_if": "{{ block.settings.atc_custom_color }}"
        },
        {
          "type": "color",
          "id": "atc_text_color",
          "label": "Button text",
          "default": "#ffffff",
          "visible_if": "{{ block.settings.atc_custom_color }}"
        },
        {
          "type": "color",
          "id": "atc_bg_color_hover",
          "label": "Button background (hover)",
          "default": "#333333",
          "visible_if": "{{ block.settings.atc_custom_color }}"
        },
        {
          "type": "color",
          "id": "atc_text_color_hover",
          "label": "Button text (hover)",
          "default": "#ffffff",
          "visible_if": "{{ block.settings.atc_custom_color }}"
        },
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "Show dynamic checkout buttons",
          "info": "Using the payment methods available on your store, customers see their preferred option, like PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": true,
          "label": "Show recipient form for gift card products",
          "info": "When enabled, gift card products can optionally be sent to a recipient with a personal message."
        }
      ]
    },
    {
      "type": "meta",
      "name": "Product meta",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_collections",
          "label": "Show collections list",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_vendor",
          "label": "Show product vendor",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_type",
          "label": "Show product type",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_availability",
          "label": "Show availability",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_sku",
          "label": "Show SKU",
          "default": false
        }
      ]
    },
    {
      "type": "badge",
      "name": "Custom tags",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "[Read How-to](https://foxecom.link/VafwzY)"
        },
        {
          "type": "header",
          "content": "Valid formats"
        },
        {
          "type": "paragraph",
          "content": "tag__hot_[DISPLAY_TEXT]"
        },
        {
          "type": "paragraph",
          "content": "tag__new_[DISPLAY_TEXT]"
        },
        {
          "type": "paragraph",
          "content": "tag__sale_[DISPLAY_TEXT]"
        },
        {
          "type": "paragraph",
          "content": "Example: tag__hot_-50% OFF, tag__new_NEW ARRIVAL"
        }
      ]
    },
    {
      "type": "description",
      "name": "Full description",
      "limit": 1
    },
    {
      "type": "short_description",
      "name": "Short description",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Add a metafield with namespace \"descriptor.short_description\" to display. [Add metafield](https://shopify.com/admin/metafields/product/create). [Watch tutorial](https://foxecom.link/QegRTH)"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "Text"
        },
        {
          "type": "select",
          "label": "Text style",
          "id": "text_style",
          "default": "body",
          "options": [
            {
              "label": "Body text",
              "value": "body"
            },
            {
              "label": "Subtitle",
              "value": "subtitle"
            },
            {
              "label": "Uppercase",
              "value": "uppercase"
            }
          ]
        }
      ]
    },
    {
      "type": "custom_text",
      "name": "Richtext",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Custom text"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Image link"
        },
        {
          "type": "range",
          "id": "image_width",
          "label": "Image width",
          "min": 0,
          "default": 100,
          "max": 100,
          "unit": "%",
          "step": 2
        },
        {
          "type": "select",
          "label": "Image alignment",
          "id": "image_alignment",
          "default": "start",
          "options": [
            {
              "label": "Left",
              "value": "start"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Right",
              "value": "end"
            }
          ]
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "padding_top",
          "label": "Padding top",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "label": "Padding bottom",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "default": 0
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "Custom liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Custom liquid"
        }
      ]
    },
    {
      "type": "visitors",
      "name": "Visitors counter",
      "limit": 1,
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "Color scheme"
        },
        {
          "type": "text",
          "id": "live_views_text",
          "label": "Visitor count text",
          "default": "<strong>{count_number}</strong> <strong>people</strong> are viewing this right now"
        },
        {
          "type": "text",
          "id": "live_views_range",
          "label": "Visitor count range",
          "default": "20-30"
        },
        {
          "type": "text",
          "id": "live_view_duration",
          "label": "Change count number every",
          "default": "10",
          "info": "Seconds"
        },
        {
          "type": "checkbox",
          "id": "live_view_icon_blinks",
          "label": "Visitor count icon blinks",
          "default": true
        }
      ]
    },
    {
      "type": "shipping",
      "name": "Shipping information",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_delivery_times",
          "label": "Show delivery estimation",
          "info": "How delivery times are generated?",
          "default": true
        },
        {
          "type": "text",
          "id": "deliver_text",
          "label": "Delivery text",
          "default": "Estimated Delivery:"
        },
        {
          "type": "text",
          "id": "deliver_days",
          "label": "Deliver in:",
          "info": "days (+/- 2 days)",
          "default": "7"
        },
        {
          "type": "text",
          "id": "date_format",
          "label": "Date format",
          "default": "%b %d",
          "info": "Example: %m/%d [Learn more about date format here.](http://strftime.net/)"
        },
        {
          "type": "checkbox",
          "id": "show_shipping_text",
          "label": "Show Shipping text",
          "default": true
        },
        {
          "type": "richtext",
          "id": "shipping_text",
          "label": "Shipping text",
          "default": "<p><strong>Free Shipping & Returns: </strong>On all orders over $75</p>"
        }
      ]
    },
    {
      "type": "trust_badge",
      "name": "Trust badge",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "trust_badges_text",
          "label": "Heading",
          "default": "<p>Guarantee safe & secure checkout</p>"
        },
        {
          "type": "image_picker",
          "id": "trust_badges_image",
          "label": "Trust badges image"
        },
        {
          "type": "text",
          "id": "trust_badges_image_width",
          "label": "Image width",
          "default": "100%"
        },
        {
          "type": "select",
          "label": "Heading position",
          "id": "position",
          "default": "below",
          "options": [
            {
              "label": "Text above image",
              "value": "above"
            },
            {
              "label": "Text below image",
              "value": "below"
            }
          ]
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "Collapsible tab",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Collapsible tab"
        },
        {
          "type": "select",
          "id": "style",
          "label": "Style",
          "default": "default",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "bordered",
              "label": "Bordered"
            }
          ]
        },
        {
          "type": "richtext",
          "label": "Content",
          "id": "content"
        },
        {
          "type": "liquid",
          "label": "Content by Liquid",
          "id": "liquid",
          "info": "Example: {{product.description}}"
        },
        {
          "type": "checkbox",
          "label": "Default open",
          "id": "default_open",
          "default": false
        },
        {
          "type": "checkbox",
          "label": "Remove top margin",
          "id": "remove_top_margin",
          "default": false,
          "info": "Removes the top margin to eliminate spacing from the previous block"
        },
        {
          "type": "header",
          "content": "Bordered Style Colors",
          "info": "These options only apply when Style is set to 'Bordered'",
          "visible_if": "{{ block.settings.style == 'bordered' }}"
        },
        {
          "type": "color",
          "id": "border_color",
          "label": "Border color",
          "default": "#B5B5B5",
          "visible_if": "{{ block.settings.style == 'bordered' }}"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text and icon color",
          "default": "#777",
          "info": "Color for the heading text and arrow icon",
          "visible_if": "{{ block.settings.style == 'bordered' }}"
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "padding_top",
          "label": "Padding top",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "label": "Padding bottom",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "default": 0
        }
      ]
    },
    {
      "type": "addons",
      "name": "Addon buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_atcp",
          "label": "Show Add to compare",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_ask_a_question",
          "label": "Show Ask a Question",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "label": "Show social share",
          "default": true
        }
      ]
    },
    {
      "type": "foxkit_stock_countdown",
      "name": "Stock countdown",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "This block has been deprecated since version 3.5.0. Please use the App block instead by selecting \"Add block\" -> \"Apps\" -> \"FoxKit - Stock countdown\". [Learn more](https://docs.minimog.co/foxkit-app/how-to-set-up-foxkit-features)"
        }
      ]
    },
    {
      "type": "foxkit_countdown_timer",
      "name": "Countdown timer",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "This block has been deprecated since version 3.5.0. Please use the App block instead by selecting \"Add block\" -> \"Apps\" -> \"FoxKit - Countdown timer\". [Learn more](https://docs.minimog.co/foxkit-app/how-to-set-up-foxkit-features)"
        }
      ]
    },
    {
      "type": "custom_field",
      "name": "Custom field",
      "settings": [
        {
          "type": "paragraph",
          "content": "Need more advanced customization? Use [Teeinblue Product Personalizer](https://teeinblue.com/install/teeinblue?ref=foxecom) app"
        },
        {
          "type": "text",
          "label": "Field name",
          "id": "title",
          "default": "Custom text",
          "info": "Required, don't leave it blank"
        },
        {
          "type": "select",
          "label": "Field type",
          "id": "field_type",
          "default": "text",
          "options": [
            {
              "label": "Single line text",
              "value": "text"
            },
            {
              "label": "Multiline text",
              "value": "textarea"
            },
            {
              "label": "Select",
              "value": "select"
            }
          ]
        },
        {
          "type": "textarea",
          "label": "Options",
          "id": "field_options",
          "info": "Each option in a new line"
        },
        {
          "type": "text",
          "label": "Placeholder",
          "id": "field_placeholder"
        },
        {
          "type": "checkbox",
          "label": "Required",
          "id": "field_required",
          "default": false,
          "info": "If you use “Required” with a checkbox, then the checkbox will need to be checked for the customer to add the item to the cart."
        },
        {
          "type": "checkbox",
          "label": "Show at checkout",
          "id": "show_at_checkout",
          "default": true,
          "info": "Uncheck this if you don't want the captured information to be shown in the order summary on the checkout pages."
        }
      ]
    },
    {
      "type": "image_field",
      "name": "Upload image field",
      "settings": [
        {
          "type": "paragraph",
          "content": "This field cannot work with Dynamic checkout buttons, so if using it, the dynamic checkout buttons will be disabled."
        },
        {
          "type": "text",
          "label": "Field name",
          "id": "title",
          "default": "Custom image",
          "info": "Required, don't leave it blank"
        },
        {
          "type": "checkbox",
          "label": "Required",
          "id": "field_required",
          "default": false,
          "info": "If you use “Required” with a checkbox, then the checkbox will need to be checked for the customer to add the item to the cart."
        },
        {
          "type": "checkbox",
          "label": "Show at checkout",
          "id": "show_at_checkout",
          "default": true,
          "info": "Uncheck this if you don't want the captured information to be shown in the order summary on the checkout pages."
        }
      ]
    },
    {
      "type": "breadcrumb",
      "name": "Breadcrumb",
      "limit": 1
    },
    {
      "type": "barcode",
      "name": "SKU",
      "limit": 1,
      "settings": []
    },
    {
      "type": "product_benefits",
      "name": "Product benefits",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Cupom"
        },
        {
          "type": "checkbox",
          "id": "enable_coupon",
          "label": "Ativar seção cupom",
          "default": true
        },
        {
          "type": "text",
          "id": "coupon_title",
          "label": "Título do cupom",
          "default": "Ganhe 10% OFF na primeira compra"
        },
        {
          "type": "text",
          "id": "coupon_code",
          "label": "Código do cupom",
          "default": "BEMVINDA10"
        },
        {
          "type": "header",
          "content": "Troca"
        },
        {
          "type": "checkbox",
          "id": "enable_exchange",
          "label": "Ativar seção troca",
          "default": true
        },
        {
          "type": "text",
          "id": "exchange_title",
          "label": "Título da troca",
          "default": "Troca descomplicada"
        },
        {
          "type": "text",
          "id": "exchange_desc",
          "label": "Descrição da troca",
          "default": "30 dias para trocar ou devolver, sem perguntas ou burocracia"
        },
        {
          "type": "header",
          "content": "Parcelamento"
        },
        {
          "type": "checkbox",
          "id": "enable_installment",
          "label": "Ativar seção parcelamento",
          "default": true
        },
        {
          "type": "text",
          "id": "installment_title",
          "label": "Título do parcelamento",
          "default": "Parcelamento flexivel"
        },
        {
          "type": "text",
          "id": "installment_desc",
          "label": "Descrição do parcelamento",
          "default": "Parcele todas as suas compras em até 6x sem juros."
        }
      ]
    },
    {
      "type": "description_tabs",
      "name": "Description tabs",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "tab1_title",
          "label": "Título da tab 1 (Descrição)",
          "default": "Descrição da peça"
        },
        {
          "type": "text",
          "id": "tab2_title",
          "label": "Título da tab 2",
          "default": "Composição & Modelagem"
        },
        {
          "type": "richtext",
          "id": "tab2_content",
          "label": "Conteúdo da tab 2"
        }
      ]
    },
    {
      "type": "whatsapp_button",
      "name": "WhatsApp button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Texto do botão",
          "default": "FALE COM UMA VENDEDORA"
        },
        {
          "type": "text",
          "id": "message_prefix",
          "label": "Prefixo da mensagem",
          "default": "Olá, gostaria de saber mais sobre o produto:"
        }
      ]
    },
    {
      "type": "trust_icons",
      "name": "Trust icons",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Item 1 - Guarantee"
        },
        {
          "type": "inline_richtext",
          "id": "text_1",
          "label": "Text",
          "default": "Compra garantida: receba seu produto ou seu dinheiro de volta."
        },
        {
          "type": "html",
          "id": "icon_1",
          "label": "Custom SVG icon",
          "info": "Leave empty to use default shield icon"
        },
        {
          "type": "header",
          "content": "Item 2 - Shipping"
        },
        {
          "type": "inline_richtext",
          "id": "text_2",
          "label": "Text",
          "default": "Frete grátis para todo o Brasil nas compras acima de R$250!"
        },
        {
          "type": "html",
          "id": "icon_2",
          "label": "Custom SVG icon",
          "info": "Leave empty to use default shipping icon"
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "padding_top",
          "label": "Padding top",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "label": "Padding bottom",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "default": 0
        }
      ]
    },
    {
      "type": "complementary",
      "name": "Complementary products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To select complementary products, add the Search & Discovery app. [Learn more](https://shopify.dev/themes/product-merchandising/recommendations)"
        },
        {
          "type": "text",
          "id": "block_heading",
          "default": "Pairs well with",
          "label": "Heading"
        },
        {
          "type": "checkbox",
          "id": "make_collapsible_row",
          "default": false,
          "label": "Show as collapsible tab"
        },
        {
          "type": "range",
          "id": "product_list_limit",
          "min": 1,
          "max": 10,
          "step": 1,
          "default": 10,
          "label": "Maximum products to show"
        },
        {
          "type": "range",
          "id": "products_per_page",
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 2,
          "label": "Number of products per page"
        },
        {
          "type": "header",
          "content": "Product card"
        },
        {
          "type": "select",
          "id": "pcard_layout",
          "label": "Layout",
          "default": "6",
          "options": [
            {
              "value": "1",
              "label": "Layout 1"
            },
            {
              "value": "6",
              "label": "Layout 6"
            }
          ]
        },
        {
          "type": "color_scheme",
          "id": "pcard_color_scheme",
          "label": "Color scheme"
        },
        {
          "type": "select",
          "id": "pcard_image_ratio",
          "label": "Aspect ratio",
          "default": "original",
          "options": [
            {
              "value": "original",
              "label": "Adapt to image"
            },
            {
              "value": "1/1",
              "label": "1:1"
            },
            {
              "value": "2/3",
              "label": "2:3"
            },
            {
              "value": "3/4",
              "label": "3:4"
            },
            {
              "value": "4/3",
              "label": "4:3"
            },
            {
              "value": "16/9",
              "label": "16:9"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "enable_variant_options",
          "label": "Enable variant options",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "enable_quick_view",
          "label": "Enable quick view button",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "enable_quick_add",
          "label": "Enable add to cart button",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "enable_compare",
          "label": "Enable compare button",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "enable_wishlist",
          "label": "Enable wishlist button",
          "default": false
        },
        {
          "type": "header",
          "content": "Button style",
          "visible_if": "{{ block.settings.pcard_layout == '6' }}"
        },
        {
          "type": "select",
          "id": "button_style_inside3",
          "label": "Button style",
          "default": "m-button--primary",
          "options": [
            {
              "value": "m-button--primary",
              "label": "Primary"
            },
            {
              "value": "m-button--secondary",
              "label": "Secondary"
            },
            {
              "value": "m-button--white",
              "label": "White"
            },
            {
              "value": "m-button--link",
              "label": "Link"
            }
          ],
          "visible_if": "{{ block.settings.pcard_layout == '6' }}"
        },
        {
          "type": "select",
          "id": "button_color_inside3",
          "label": "Button color",
          "default": "light",
          "options": [
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            }
          ],
          "visible_if": "{{ block.settings.pcard_layout == '6' }}"
        },
        {
          "type": "select",
          "id": "button_text_hover_color_inside3",
          "label": "Button text color on hover",
          "default": "light",
          "options": [
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            }
          ],
          "visible_if": "{{ block.settings.pcard_layout == '6' }}"
        },
        {
          "type": "color_background",
          "id": "background_gradient_inside3",
          "label": "Background gradient",
          "visible_if": "{{ block.settings.pcard_layout == '6' }}"
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "padding_top",
          "label": "Padding top",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "label": "Padding bottom",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "default": 0
        }
      ]
    },
    {
      "type": "shipping_calculator",
      "name": "Calculadora de frete",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Título",
          "default": "Cálcule seu Frete"
        },
        {
          "type": "checkbox",
          "id": "show_free_shipping_link",
          "label": "Mostrar mensagem de frete grátis",
          "default": true
        },
        {
          "type": "text",
          "id": "free_shipping_link_text",
          "label": "Texto do link de frete grátis",
          "default": "Frete grátis acima de R$ 299"
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "Placeholder do campo CEP",
          "default": "Digite seu CEP"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Texto do botão",
          "default": "CALCULAR"
        },
        {
          "type": "text",
          "id": "free_shipping_text",
          "label": "Texto para frete grátis nos resultados",
          "default": "Grátis"
        },
        {
          "type": "text",
          "id": "error_message",
          "label": "Mensagem de erro",
          "default": "CEP não encontrado, tente novamente."
        }
      ]
    },
    {
      "type": "inventory_status",
      "name": "Inventory status",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Inventory thresholds can be changed in \"Theme Settings > Product Inventory\"."
        },
        {
          "type": "checkbox",
          "id": "show_indicator_bar",
          "label": "Show inventory indicator bar",
          "default": true
        },
        {
          "type": "header",
          "content": "Messages"
        },
        {
          "type": "richtext",
          "id": "normal_text",
          "label": "Text for normal inventory"
        },
        {
          "type": "richtext",
          "id": "low_text",
          "label": "Text for low inventory",
          "default": "<p>- Hurry! Limited stock left.</p>"
        },
        {
          "type": "richtext",
          "id": "outofstock_text",
          "label": "Text for out of stock"
        },
        {
          "type": "richtext",
          "id": "backordered_text",
          "label": "Text for backordered",
          "default": "<p>Backordered</p>"
        }
      ]
    }
  ]
}
{% endschema %}
